<template>
  <div>
    <MainBanner />
    <FormCobertura />

    <div class="container">
      <header>
        <h1 class="main-title">Conheça os planos da Vivo</h1>
      </header>
      <TabProducts />
    </div>

    <SpeakNowBanner />

    <div class="container block">
      <header>
        <h2 class="main-title align-title">Veja os produtos</h2>
      </header>
      <AccordionCategoryItems :categories="categories" />
    </div>

    <Modal v-if="displayConfirmationModal" />
    <Modal v-if="displayCoverageModal" :isCoverage="true" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      products:[],
    }
  },

  async asyncData({ $axios, params, store, error }) {
    try {
      const { data } = await $axios('pages/produto');
      
      let content = data.page.sections
      let selectedCategorie = content.find(
        item => item.slug == params.category
      )
      if(!selectedCategorie) return error(store.state.messageError)

      let categories = {
        ...selectedCategorie,
        active: false
      }

      let seo = categories
      return { categories, seo }

    } catch(e) {
      error(e)
    }
  },

  head() {
    return {
      title: this.seo["meta-title"],
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.seo["meta-description"],
        },
      ]
    }
  },

  computed: {
    displayConfirmationModal() {
      return this.$store.state.modals.displayConfirmationModal
    },
    displayCoverageModal() {
      return this.$store.state.modals.displayCoverageModal
    },
  },
}
</script>

<style>
  .block {
    margin: 2rem auto;
  }
  .main-title {      
    margin-bottom: 2rem;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #000000;
  }
  @media (min-width: 768px) {
    .main-title {
      font-size: 2rem;
      line-height: 2.25rem;
    }
    .align-title { text-align: center; }
  }  
  @media (min-width: 1028px) {
    .align-title { text-align: left; }
  }
</style>
