<template>
  <div v-if="blogPost" class="container">
    <section class="blog-post">
      <div class="blog-post__banner-post">
        <img
          :src="blogPost.post.banner_url"
          alt="Banner Internal Mobile"
          class="banner-mobile"
        />

        <img
          class="banner-desktop"
          :src="blogPost.post.banner_url"
          alt="Banner Internal"
        />
      </div>

      <BreadCrumb :titlePage="blogPost.post.title" />

      <header class="blog-post__post-title">
        <h2>{{ blogPost.post.title }}</h2>
      </header>

      <main class="blog-post__post-content">
        <article class="post-body">
          <div v-html="blogPost.post.description" class="text"></div>
        </article>

        <aside class="latest-news">
          <h2 class="title-latest-news">Ultimas notícias</h2>

          <div class="latest-posts">
            <a
              :href="`/blog/${post.slug}`"
              v-for="post in blogPost.list"
              :key="post.title"
              class="post-container"
            >
              <img :src="post.thumbnail_url" alt="Latest Posts" />

              <div class="link-container">
                <h2 class="title-thumb">
                  {{ post.title }}
                </h2>

                <a class="link-post" :href="`/blog/${post.slug}`">
                  Leia mais
                  <div class="arrow-right"></div>
                </a>
              </div>
            </a>
          </div>
        </aside>

      </main>
    </section>
  </div>
</template>


<script>
export default {
  layout: "blog",
  async asyncData({ $axios, params, store, error }) {
    try {
      const { slug } = params;
      const { data } = await $axios(`/blog/posts/${slug}`);
      if(!data) return error(store.state.messageError)

      return {
        blogPost: data,
      };

    } catch (e) {
      error(404)
    }
  },

  head() {
    return {
      title: `${this.blogPost.post.title} | Portal Vivo Empresa`,
      meta: [
        {
          hid: "posts-description",
          name: "description",
          content: this.blogPost.post.meta_description,
        },
      ],
    };
  },
};
</script>


<style lang="scss">
.arrow-right {
  width: 10px;
  height: 10px;
  border-bottom: solid 2px #660099;
  border-right: solid 2px #660099;
  transform: rotate(-45deg);
  margin-left: 5px;
}

.blog-post {
  display: flex;
  flex-direction: column;

  &__banner-post {
    display: flex;
    justify-content: start;
    margin-top: 26px;
    margin-bottom: 26px;

    .banner-mobile {
      width: 100%;
      border-radius: 10px;
    }
    .banner-desktop {
      display: none;
    }
  }

  &__post-title {
    h2 {
      text-align: left;
      color: #000000;
      font-size: 22px;
      font-weight: 400;
      line-height: 1.2;

    }
  }

  &__post-content {
    .post-body {
        flex-basis: 0;
        flex-grow: 999;
      table {
        width: 100% !important;
      }
      iframe {
        min-height: 184px;
      }
      iframe,
      img {
        max-width: 100%;
        height: 100%;
        width: 100%;
      }
      .icons {
        display: flex;
        align-items: end;
        margin-top: 20px;

        img {
          &:nth-child(1) {
            width: 14px;
          }
          width: 28px;
          margin-right: 23px;
        }
      }

      .text {
        p {
          color: #000000;
          font-size: 14px;
          margin-bottom: 32px;

          &:nth-child(1) {
            margin-top: 32px;
          }
        }

        h2 {
          font-size: 1rem;
          font-weight: 400;
          color: #000000;
          margin-bottom: 32px;
        }
      }
    }

    .latest-news {
        --offset: 2rem;
        flex-grow: 1;
        flex-basis: 300px;
        align-self: start;
        position: sticky;
        top: var(--offset);


      margin-top: 40px;
      .title-latest-news {
        color: #000000;
        font-size: 22px;
      }

      .latest-posts {
        max-width: 280px;

        .post-container {
          display: flex;
          align-items: center;
          margin-top: 21px;
          text-decoration: none;
              flex-direction: column;

          img {
            width: 100%;
            border-radius: 10px;
          }
          .link-container {
            margin-top: 15px;

            h2 {
              color: #000000;
              font-size: 1rem;
              font-weight: 400;
              line-height: 21px;
            }

            .link-post {
              display: none;

            }
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .blog-post {
    &__banner-post {
      .banner-mobile {
        display: none;
      }

      .banner-desktop {
        display: block;
        width: 100%;
        border-radius: 10px;
      }
    }

    &__post-title {
      h2 {
        text-align: left;
        max-width: 700px;
      }
    }

    &__post-content {
      .post-body {
        iframe {
          min-height: 350px;
        }
      }

      .latest-news {
        .title-latest-news { 
          font-size: 22px;
        }

        .latest-posts {
          .post-container {
            .link-container {
              .link-post {
                text-decoration: none;
                display: block;
                margin-top: 12px;
                color: #660099;
                font-weight: 700;
                font-size: 1rem;
                display: flex;
                align-items: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .blog-post {
    &__banner-post {
      margin-top: 39px;
      .banner-desktop {
        width: 100%;
        max-width: 100%;
      }
    }

    &__post-title {
      h2 {
        max-width: 100%;
        font-size: 39px;
        margin-top: 30px;
        margin-bottom: 27px;
      }
    }

    &__post-content {
      max-width: 100%;
      display: flex;
          justify-content: space-between;

      .post-body {
        margin-right: 54px;
        margin-bottom: 61px;

        iframe {
          min-height: 520px;
        }
        .icons {
          img {
            &:nth-child(1) {
              width: 20px;
            }
            width: 35px;
            margin-right: 23px;
          }
        }

        .text {
          p {
            font-size: 16px;
            margin-bottom: 32px;
            line-height: 26px;

            &:nth-child(1) {
              margin-top: 32px;
            }
          }

          h2 {
            font-size: 22px;

            margin-bottom: 32px;
          }
        }
      }

      .latest-news {
        margin-top: 61px;
        .title-latest-news {
          color: #000000;
          font-size: 26px;
          font-weight: 400;
          border-bottom: solid 1px #d8d8d8;
          padding-bottom: 12px;
        }

        .latest-posts {
          width: 280px;
          .post-container {
            padding-bottom: 25px;

            .link-container {
              h2 {
                font-size: 20px;
              }

              .link-post {
                font-weight: 700;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

</style>
