<template>
  <div v-if="categories">
    <div class="container">
      <div class="row">
        <div class="question-box">
          <div class="question-header"
            @click="categories.active = !categories.active"
          >
            <div class="question-number">
              {{ categories.slug }}
            </div>
            <div class="question-title">
              <h3>{{ categories.name }}</h3>

            </div>
            <div class="icon">
              <img
                alt="Icone de orientação para visualização da resposta"
                src="@/assets/img/icons/arrow-white.svg"
                :class="categories.active ? 'arrow-up' : ''"
                width="32"
                height="32"
              />
            </div>
          </div>
          <div
            class="question-answer"
            :class="categories.active ? 'question-active' : ''"
          >
            <ul>
                <li v-for="(content, index) in categories.contents" :key="`state-${index}`">
                  <a :href="`/produto/${categories.slug}/${content.slug}`">
                  {{ content.title}}
                  </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      required: true,
    },
  },
}
</script>

<style lang="scss">
 .question-box {
    background-color: #660099;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;

  .question-number {
    position: absolute;
    max-width: 120px;
    min-width: 90px;
    min-height: 70px;

    top: 50%;
    left: -1px;
    transform: translateY(-50%);

    text-align: center;
    padding: 0 12px;
    background-color: #F7F7F7;
    color: #660099;
    font-weight: 700;
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px 15px rgba(0, 0,0,0.20);

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .question-header {
    position: relative;
    min-height: 60px;

    background-color: #54007e;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px; 
    
    img {
      width: 26px;
      min-width: 26px;
      transition-property: transform;
      transition-duration: 500ms;
      --transform-translate-x: 0;
      --transform-translate-y: 0;
      --transform-rotate: 0;
      --transform-skew-x: 0;
      --transform-skew-y: 0;
      --transform-scale-x: 1;
      --transform-scale-y: 1;
      transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
      --transform-rotate: 0deg;
    }
    .arrow-up {
      --transform-rotate: -180deg;
    }

    .question-title {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      h3 {
        font-size: 1.125rem;
        font-weight: 400;
        margin-right: 2rem;
      }
    }
    .icon {
      margin: 0 20px;
    }
  }
  .question-answer {
    visibility: hidden;
    height: 0;
    transition: all 200ms ease-in-out 0s;
    overflow: hidden;
    background-color: #660099;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    ul {
      list-style: none;
      padding: 0;
    
      li {
        a {
          padding: 20px;
          display: block;
          color: #FFF;
          text-transform: uppercase;
          text-decoration: none;
          &:hover {
            color: #F8F8F8;
          }
        }
        &:hover {
          background-color: #54007e;
        }
      }
    }

    p {
      opacity: 0;
    }
  }
}
 
 .question-box .question-answer.question-active {
  height: 100%;
  visibility: visible;
  padding-top: 20px;
  padding-bottom: 20px;
}
 .question-box .question-answer.question-active p {
  opacity: 1;
}
@media (min-width: 768px) {
  .question-box .question-header .question-title {
    justify-content: center;
  }
}
</style>
