<template>
  <div id="application-modal" class="roboto-regular">
    <div class="modal-box" :class="displayModal ? 'modal-show' : ''">
      <div class="modal-content scaleup h-screen overflow-y-auto md:overflow-y-visible">
        <div class="modal-close-button" @click="onClose">
          <!-- <img alt="Icone do botão de fechar" src="@/assets/img/icons/error.svg" /> -->
        </div>

        <div class="modal-body flex-col-reverse justify-center lg:flex-row" v-if="application">
          <div class="bg-white rounded w-full lg:w-6/12 lg:py-6 px-3">
            <div
              class="boxItem"
              v-for="(item, index) in application.listLeft"
              :key="`box-item-${index}`"
            >
              <h2>{{item.title}}</h2>
              <p>{{item.subtitle}}</p>

              <ul v-if="item.list">
                <li v-for="(li, index) in item.list" :key="`item-${index}`">{{li.item}}</li>
              </ul>
            </div>
          </div>
          <div class="w-full lg:w-6/12 flex flex-col justify-evenly items-center lg:h-auto">
            <!-- <img
              src="@/assets/img/logos/vivo-fibra-logo.svg"
              alt="Vivo fibra logo"
              class="w-1/5 lg:w-auto"
            />
            <img
              :src="require(`~/assets/img/logos/${application.icon}`)"
              :alt="application.alt"
              :title="application.nome"
              class="w-1/5 lg:w-auto py-3"
            /> -->
            <span class="app-name pb-3">{{application.nome}}</span>
          </div>
        </div>

        <div v-else class="w-full">
          <div class="home-assist-mobile md:hidden">
            <div class="flex items-center flex-col">
             <!--  <img
                src="@/assets/img/icons/HomeAssist.svg"
                alt="Icone Vivo Home Assist"
                title="Vivo Home Assist"
              />
              <img
                src="@/assets/img/icons/home-assist-text.svg"
                alt="Icone Vivo Home Assist"
                title="Vivo Home Assist"
                class="lg:hidden"
              /> -->
            </div>

            <div class="flex flex-col items-center w-full">
              <p
                class="text-white text-center text-sm roboto-thin px-8 py-2"
              >Assistência e suporte técnico para a sua casa</p>
              <p
                class="text-white text-center text-xs roboto-thin px-3 pb-4"
              >HomeAssist disponível por 30 dias, a partir da data de instalação. Consulte condições</p>
            </div>
            <div class="home-assist-mobile-details">
              <h3 class="tecnique-support">
                Suporte técnico
                <span>24hrs</span>
                <!-- <img
                  src="@/assets/img/icons/24h.svg"
                  alt="Icone reprensetando 24hrs de atendimento"
                  class="support-img"
                /> -->
              </h3>
              <p style="max-width: 220px" class="text-dark-gray text-xs roboto-thin">
                Instalação configuração,
                <br />orientação e resolução de problemas com equipamentos eletrônicos.
              </p>

              <div class="row">
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/GAME.svg" alt="Icone Console" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Console de Game</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/tv-modal.png" alt="Icone TV" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">TV</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/celular-modal.svg" alt="Icone Celular" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Celular</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/notebook-modal.svg" alt="Icone Notebook" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Notebook</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/desktop-modal.svg" alt="Icone Desktop" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Desktop</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/wifi-modal.svg" alt="Icone Wifi" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Wi-fi</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/software-modal.svg" alt="Icone Software" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Software</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/impressora-modal.svg" alt="Icone Impressora" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Impressora</p>
                </div>
              </div>

              <div class="divider"></div>

              <h3>Assistência técnica</h3>
              <p
                class="text-dark-gray text-xs roboto-thin"
              >Instalação, configuração de TV's e prestação de serviços para residência</p>
              <div class="row">
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/GAME.svg" alt="Icone Console" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Games</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/tv-modal.png" alt="Icone TV" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">TV</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/theater-modal.svg" alt="Icone Home theater" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Home Teacher</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img
                    src="@/assets/img/icons/fechadura-eletrocina.png"
                    alt="Icone Fechadura Eletrônica"
                  /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Fechadura Eletrônica</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/eletricista-modal.svg" alt="Icone Eletricista" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Eletricista</p>
                </div>
                <div class="w-3/12 mt-2">
                  <!-- <img src="@/assets/img/icons/camera_ip_modal.svg" alt="Icone Camera Ip" /> -->
                  <p class="text-dark-gray text-xs roboto-thin">Câmera IP</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <img
            src="@/assets/img/home-assist-modal.png"
            alt="Icone Vivo Home Assist"
            title="Vivo Home Assist"
            class="hidden md:inline-block"
          /> -->
        </div>
      </div>
    </div>

    <!-- overlay -->
    <div class="modal-overlay" @click="onClose" />
  </div>
</template>
<script>
export default {
  computed: {
    displayModal() {
      return this.$store.state.modals.displayApplicationModal
    },
    application() {
      return this.$store.state.applications.application
    }
  },

  methods: {
    onClose() {
      this.$store.commit('modals/closeApplicationModal')
      setTimeout(() => {
        this.$store.commit('applications/setApplication', null)
      }, 300)
    }
  }
}
</script>

<style lang="scss">
  .modal-box {
    position: fixed;
    left: 50%;
    top: 40%;
    width: 100%;
  	height: 100%;

    height: auto;
    max-height: none;
  	max-width: 288px;
    margin-top: 20px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2000;
    visibility: hidden;
    transition: all 300ms;

		.modal-content {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			position: relative;
			background-color: #FFFFFF;
			background-image: none;
			display: flex;
			justify-content: flex-start;
			border-radius: 5px;

			.modal-block {
				padding: 25px 20px;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				label {
                    background: #FFFFFF;
                }
				.form-control {
                    min-width: 251px;
                    max-width: 251px;
					background: #FFFFFF;
					   &:-webkit-autofill,
							&:-webkit-autofill:hover,
							&:-webkit-autofill:focus,
							&:-webkit-autofill::marker {
								-webkit-text-fill-color: #000;
								-webkit-box-shadow: 0 0 0 30px #ffffff inset;
								transition: background-color 5000s ease-in-out 0s;
						}
				}
                .btn.btn-form {
                    max-width: 251px;
                    min-width: 251px;
                }
				.borders-y {
					border-style: none;
				}
				.modal-title {
					font-size: 1.25rem;
					font-weight: 400;
					line-height: 1.5rem;
					color: #000000;
				}

				.modal-description {
					margin: 10px 0;
					font-size: 0.875rem;
					font-weight: 300;
					line-height: 1.0625rem;
					color: #000000;
				}
				.modal-icon {
					margin-bottom: 0px;
				}
				.modal-call-number { 
					img {
						display: none;
					}
					span {
						font-size: 14px;
					}
					b {
						font-size: 20px;
					}
				}
			}

			.modal-close-button {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				background: #F9F9F9;
				border-radius: 50%;
				border: 1px solid #ECECEC;

				height: 30px;
				width: 30px;
				position: absolute;
				top: 25px;
				right: 20px;
			}
		}
}
.bg-confirmation {
    background-color: #fff;
    background-image: none;
}
.bg-confirmation .modal-block {
    min-width: 100%;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(102,0,153,0.30196) 0% 0% no-repeat padding-box;
  transition: all 0.2s;
}

.scaleup {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.3s;
}

.modal-show .scaleup {
  opacity: 1;
  transform: scale(1);
}

.modal-show {
  visibility: visible;
}

.modal-show ~ .modal-overlay {
  visibility: visible;
  opacity: 1;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .modal-overlay {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
	.modal-box {
		max-width: 50%;
		.modal-content {
			.modal-block {
				height: 100%;
				width: 90%;
				.modal-icon {
					margin-bottom: 33px;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.modal-title {
					font-size: 1.5rem;
                    line-height: 1.875rem;
				}

				.modal-description {
					margin-top: 13px;
					font-size: 0.875rem;
				}

				.modal-call-number {
					justify-content: center;
					align-items: center;
				}


				.modal-call-number {
					img  {
						height: 30px;
						width: 30px;
					}
					span {
						font-size: 18px;
					}
					b {
						font-size: 30px;
					}
				}
			}
		}
	}
}

@media (min-width: 1280px) {
    .modal-box.modal-result {
        max-width: 639px;
    }
	.modal-box { 
        max-width: 936px;
        .modal-content .modal-block {
            padding: 30px;
            .modal-form {
                flex-direction: row;
                display: flex;
                .form-group {
                    margin: 0;
                    .form-control {
                        max-width: 217px;
                        min-width: 217px;
                        margin: 0 8px 0 0;
                    }
                }
                .btn.btn-form {
                    margin-top: 13px;
                    max-height: 60px;
                    max-width: 189px;
                    min-width: 189px;
                    margin-left: 0px;
                }
            }
        }
    }
}
</style>
