<template>
    <section class="benefits-group">
        <article class="benefit">
            <img src="/free-wifi.svg" alt="Computador simulando Wifi" height="95" width="119">
            <div class="content">
                <h3>Wi-Fi grátis</h3>
                <p>Mais conectividade e estabilidade para você</p>
            </div>
        </article>
        <article class="benefit">
            <img src="/ultravelocidade.svg" alt="Computador performático" height="95" width="119">
            <div class="content">
                <h3>Ultravelocidade</h3>
                <p>Navegue com até 300MB de velocidade</p>
            </div>
        </article>
        <article class="benefit">
            <img src="/combo-vivo.svg" alt="Computador, celular e telefone" height="95" width="119">
            <div class="content">
                <h3>Combo Vivo</h3>
                <p>Assine TV, Banda Larga e Fixo com mais facilidade</p>
            </div>
        </article>
        <article class="benefit">
            <img src="/multiconexao.svg" alt="Computador simulando Wifi" height="95" width="119">
            <div class="content">
                <h3>Multiconexão</h3>
                <p>Conecte vários dispositivos sem perder qualidade</p>
            </div>
        </article>
    </section>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">
.benefits-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 2rem 0;
    .benefit {
        display: flex;
        align-items: center;

        max-width: 90%;
        margin-right: 0;
        margin-bottom: 1.5rem;
        img {
            min-width: 85px;
            max-height: 70px;
        }
        .content {
            margin-left: 0.75rem;
            h3 {
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.375rem;
            }
            p {
                font-size: 0.875rem;
                font-weight: 300;
                line-height: 1.063rem;
            }
        }
    }
}
@media (min-width: 768px) {
    .benefits-group {
        flex-direction: row;    
        flex-wrap: wrap;
        .benefit {
            flex-direction: row;
            max-width: 42%;
        }
    }
}
@media (min-width: 1024px) {
    .benefits-group {
        flex-direction: row;

        .benefit {
            flex-direction: column;
            align-items: flex-start;
            max-width: 194px;
            margin-right: 2rem;
            margin-bottom: 0;
            img {
                min-width: initial;
                max-height: initial;
            }
            .content {
                margin-left: 0;
                h3 {
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                    margin: 1.25rem 0 0.875rem 0;
                }
                p {
                    font-size: 1rem;
                    line-height: 1.25rem;
                }
            }
        }
    }
}
</style>