<template>
  <div>
    <div v-if="postList" class="post-cards">
      <div v-for="card in postList" :key="card.title" class="post-cards__card">
        <div class="card-thumb">
          <img :src="card.banner_url" alt="Imagem Post" />
        </div>
        <div class="card-content">
          <h3 class="title-post">
            {{ card.title }}
          </h3>

          <p v-html="card.meta_description" class="description-post"></p>

          <a class="link-post" :href="`/blog/${card.slug}`">
            Leia mais
            <div class="arrow-right"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    postList: {
      type: Array,
      required: true,
    },
  },
};
</script>


<style lang="scss">
.arrow-right {
  width: 10px;
  height: 10px;
  border-bottom: solid 2px #660099;
  border-right: solid 2px #660099;
  transform: rotate(-45deg);
  margin-left: 5px;
}
.post-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;

  &__card {
    margin-bottom: 15px;

    .card-thumb {
      img {
        max-width: 276px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
      }
    }
    .card-content {
      background-color: #f6f6f6;
      max-width: 276px;
      margin-top: -5px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding-left: 15px;
      min-height: 219px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .title-post {
        color: #000000;
        max-width: 240px;
        font-size: 1rem;
        line-height: 20px;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 12px;
      }

      .description-post {
        color: #000;
        font-size: 0.875rem;
        line-height: 20px;
        padding-bottom: 17px;
        max-width: 227px;
        font-weight: 400;
      }

      .link-post {
        text-decoration: none;
        display: block;
        color: #660099;
        font-weight: 700;
        font-size: 1rem;
        padding-bottom: 29px;
        display: flex;
        align-items: center;

        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .post-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &__card {
      margin-right: 20px;
    }
  }
}

@media (min-width: 1024px) {
  .post-cards {
    justify-content: space-between;

    &__card {
      margin-bottom: 15px;
      margin-right: 15px;

      &:nth-child(3n) {
        margin-right: 0;
      }

      .card-thumb {
        img {
          max-width: 450px;
        }
      }
      .card-content {
        max-width: 450px;
        min-height: 300px;

        .title-post {
          max-width: 320px;
          font-size: 21px;
          line-height: 27px;
          padding-top: 20px;
          padding-bottom: 22px;
        }

        .description-post {
          font-size: 1rem;
          line-height: 26px;
          padding-bottom: 20px;
          max-width: 320px;
        }

        .link-post {
          font-size: 1.125rem;
          padding-bottom: 29px;
          display: flex;
          align-items: center;

          .arrow-right {
            width: 10px;
            height: 10px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
</style>
