<template>
  <div class="breadcrumb-box">
    <a class="distance-link" href="/">Home</a>
    <i class="arrow-breadcrumb"></i>
    <a class="distance-link" href="/blog">Blog</a>

    <i v-if="$route.params.slug" class="arrow-breadcrumb"></i>
    <a
      v-if="$route.params.slug"
      class="distance-link"
      :href="`${$route.params.slug}`"
    >
      {{ titlePage }}</a
    >
  </div>
</template>

<script>
export default {
  props: {
    titlePage: {
      type: String,
    },
  },
};
</script>

<style scoped lang="scss" >
.link-box {
  align-items: center;
}

.breadcrumb-box {
  margin-bottom: 10px;
}

.distance-link {
  margin-left: 5px;
  color: #979695;
  text-decoration: none;
  font-size: 14px;
  max-width: 80px;

  &:hover {
    text-decoration: underline;
  }
}

.arrow-breadcrumb {
  border: solid #979695;
  border-width: 0 1px 1px 0;
  padding: 3px;
  margin-bottom: 1px;
  display: inline-block;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
</style>
