<template>
    <footer class="footer">
        <div class="container footer-group">
            <div class="company">
                <div class="logo">
                    <img 
                        src="/logo-mobile.svg" 
                        alt="Logo da Vivo Empresas"
                        width="98"
                        height="41"
                    >
                </div>
                <div class="copyringht">
                    <h4>© 2021 - M2Center - Direitos Reservados</h4>
                </div>
            </div>
            <nav class="menu-group">
                <ul class="menu-links">
                    <li>
                        <Nuxt-link to="">Combos</Nuxt-link>
                    </li>
                    <li>
                        <Nuxt-link to="">Internet</Nuxt-link>
                    </li>
                    <li>
                        <Nuxt-link to="">Telefonia</Nuxt-link>
                    </li>
                    <li>
                        <Nuxt-link to="">Blog</Nuxt-link>
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
</template>

<script>
export default {
    
}
</script>

<style lang="scss">
    .footer {
        margin-top: auto;
        background: #F7F7F7;
        width: 100%;
        .footer-group {
            min-height: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        .company {
            order: 2;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;

            .logo {
                order: 1;
                margin-bottom: 0.772rem;
                img {
                    max-width: 100%;
                }
            }
            .copyringht {
                order: 2;
                h4 {
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.25rem;
                }
            }
        }
        .menu-group {
            margin-top: 1rem;
            .menu-links {
                width: 100%;
                text-align: center;
                list-style: none;
                display: flex;
                padding: 0;
                a {
                    text-decoration: none;
                    color: #000000;
                    font-size: 1.125rem;
                    font-weight: 400;
                    line-height: 1.25rem;
                    margin: 0 .5rem;
                    transition: color .3s ease-in;
                    &:hover {
                        color: #660099;
                    }
                }
            }
        }
    }
    @media (min-width: 1024px) {
            .footer {
                .footer-group {
                    min-height: 134px;
                    flex-direction: row;
                    justify-content: space-between;
                }
                .company {
                    order: 1;
                    flex-direction: row;

                    .logo {
                        margin-right: 2.5rem;
                        img {
                            max-width: 100%;
                        }
                    }
                    .copyringht h4 {
                        font-size: 1rem;
                        line-height: 1.25rem;
                    }
                }
                .menu-group {
                    order: 2;
                    .menu-links {
                        text-align: right;
                        a {
                            font-size: 1.25rem;
                            line-height: 1.375rem;
                            margin: 0 1.125rem;
                        }
                    }
                }
            }
    }
</style>