<template>
    <section class="bg-mobile">
        <div class="container">
            <div class="form-block row">
                <header class="title">
                    <p>Consulte a cobertura na sua região</p>
                </header>
                <form @submit.prevent="handleSubmit" method="post">
                    <div class="row">
                        <div class="form-group">
                            <the-mask 
                                :mask="['#####-###']"
                                class="form-control" 
                                :class="{ invalid: !postalCodeValid }"
                                placeholder=" " 
                                id="cep"
                                name="cep"
                                v-model="coverage.postal_code"
                                required
                            />
                            <label for="cep">Digite seu CEP</label>
                             <span v-if="!postalCodeValid">
                                <small class="invalid-message roboto-regular">
                                    CEP inválido
                                </small>
                            </span>
                        </div>

                        <div class="form-group">
                            <input
                                type="number"
                                class="form-control" 
                                placeholder=" " 
                                id="number"
                                name="number"
                                v-model="coverage.number"
                                required
                            />
                            <label for="number">Digite o Número do local</label>
                            <span class="invalid">
                                <small>
                                    Número inválido
                                </small>
                            </span>
                        </div>

                        <div class="form-group">
                            <the-mask 
                                type="tel" 
                                :mask="['(##) ####-####', '(##) #####-####']"
                                placeholder=" " 
                                class="form-control" 
                                :class="{ invalid: !phoneValid }"
                                id="tel" 
                                name="tel"
                                v-model="coverage.phone_number"
                                required
                            />
                            <label for="tel">Digite seu telefone</label>
                             <span v-if="!phoneValid">
                                <small class="invalid-message roboto-regular">
                                    Nº de contato inválido
                                </small>
                            </span>
                        </div>

                        <button class="btn btn-form">
                            Consultar
                        </button>
                </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
import formsMixins from '@/mixins/forms'
import phoneMixins from '@/mixins/phones'
import postalCodeMixins from '@/mixins/postal_code'
import clickSiteMixins from '@/mixins/clickSite'
import generateLeadMixins from '@/mixins/generateLead'

export default {
    mixins: [ formsMixins, phoneMixins, clickSiteMixins, postalCodeMixins, generateLeadMixins ],

    data() {
        return {
        coverage: {
            phone_number: '',
            postal_code: '',
            number: '',
            utm_source: '',
            utm_medium: '',
            utm_campaign: '',
            utm_content: '',
            gclid: '',
        },
        postalCodeValid: true,
        phoneValid: true,
        isSubmtting: false,
        page: '',
    
        }
    },
    computed: {
        coverageInfo() {
            return this.$store.state.plans.coverage
        }, 
        hasCoverage() {
            return this.$store.state.plans.hasCoverage
        }, 
        getForms() {
            return this.$store.getters['forms/getForms']
        },
        ecommerceStatus() {
            return this.$store.state.ecommerce.status
        },
    },
    methods: {
        setCoverageOnData() {
            if (this.coverageInfo) {
                this.coverage = { ...this.coverageInfo }
            }
        },

        async handleSubmit() {
            let isPhoneValid = false
            this.isSubmtting = true

            if (this.hasInvalidDigits(this.coverage.phone_number)) {
                this.isSubmtting = false
                return (this.phoneValid = isPhoneValid)

            } else {
                isPhoneValid = await this.isPhoneValid(this.coverage.phone_number)
                this.phoneValid = isPhoneValid
            }

            const isPostalCodeValid = await this.isPostalCodeValid( this.coverage.postal_code )

            if (isPhoneValid && isPostalCodeValid) {
                this.phoneValid = true
                this.postalCodeValid = true

                await this.checkCoverage()

                if (this.hasCoverage) {
                    if (!this.ecommerceStatus) {
                        console.log('1')
                        await this.generateLead('comcob')
                    
                        await this.fetchLeadAddress()
                        await this.callToCustomer('now')
                    } else {
                        console.log('2')
                        this.$store.commit('modals/openSuccessCoverageModal')
                        await this.generateLead('comcob')
                        await this.fetchLeadAddress()
                    }
                    if(process.browser){
                        dataLayer.push({ 'event': 'bannerComCobertura' })
                    }

                } else {
                    console.log("3")
                    await this.generateLead('semcob')
                    await this.fetchLeadAddress()
                    await this.callToCustomer('vivopfsemcobsite')
                    if(process.browser){
                        dataLayer.push({ 'event': 'bannerSemCobertura' })
                    }
                    this.$store.commit('generalLeadForm/openFormModal')
                }
            } 
            else {
                this.phoneValid = isPhoneValid
                this.postalCodeValid = isPostalCodeValid
            }

            this.isSubmtting = false
        },

        async checkCoverage() {
            this.$store.commit('plans/setCoverage', this.coverage)

            await this.$store.dispatch('plans/getPlans')

            if(process.browser){
                dataLayer.push({ 
                    'event': 'consulteCoberturaHeader',
                    'category': this.page
                })
            }
        },

        toggleLoading() {
            this.$store.commit('loading/toggleLoading')
        },

        async fetchLeadAddress() {
            try {
                let { data } = await this.$axios(`/location/by-postal-code?postal_code=${this.coverageInfo.postal_code}`)
                this.$store.commit('forms/setAddress', data)

            } catch (error) {
                const address = {
                    address: null,
                    city: null,
                    district: null,
                    state: 'Selecione seu estado',
                }

                this.$store.commit('forms/setAddress', address)
            }
        },


        
    },

    watch: {
        coverageInfo(value) {
        this.coverage.postal_code = value.postal_code
        this.coverage.number = value.number
        this.coverage.phone_number = value.phone_number
        },
    },

    mounted(){
        this.setCoverageOnData()
        this.coverage.utm_source = this.$route.query.utm_source || ''
        this.coverage.utm_medium = this.$route.query.utm_medium || ''
        this.coverage.utm_campaign = this.$route.query.utm_campaign || ''
        this.coverage.utm_content = this.$route.query.utm_content || ''
        this.coverage.gclid = this.$route.query.gclid || ''

        this.page = this.$route.name
    },

}
</script>

<style lang="scss">
.bg-mobile {
    max-width: 100%;
    background-color: #F7F7F7;
}
.invalid { display: none; }
form {
    width: 100%;
}
form .row,
.form-block.row {
    flex-direction: column;
}

.form-block {
    margin-top: 0;
    margin-bottom: 2rem;
    background-color: #F7F7F7;

    width: 100%;

    padding: 20px 15px;
    border-radius: 5px;
    min-height: 121px;

    justify-content: space-around;

    .title p{
        font-size: 1.375rem;
        line-height: 1.375rem;
        color: #000000;
    }
}
.form-group {
    position: relative;
    padding-top: 13px;
    width: 100%;
    .form-control  {
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        outline: none;
        min-width: 100%;
        max-width: 288px;
        min-height: 51px;

        display: block;
        padding: 15px;
        font-size: 1rem;

        transition: all .1s linear;
        -webkit-tap-highlight-color: transparent;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        -webkit-appearance:none;
        background-color: #F7F7F7;

        &:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px #F7F7F7 inset;
        }
    }

    .form-control:focus {
        border: 1.5px solid #000000;
    }

    .form-control::placeholder {
        color:transparent;
    }

    label {
        pointer-events: none;
        position: absolute;
        top: calc(50% - 8px);
        left: 15px;
        transition: all .1s linear;
        -webkit-transition: all .1s linear;
        -moz-transition: all .1s linear;
        background-color: #F7F7F7;
        padding: 5px;
        box-sizing: border-box;
    }

    .form-control:focus + label,
    .form-control:not(:placeholder-shown) + label {
        font-size: 13px;
        top: 0;
        color: #000000;
    }
}
    .btn.btn-form {
        margin-top: 0.625rem;
        margin-left: 0;
        min-width: 100%;
        min-height: 51px;
        
        text-align: center;
        color: #000;
        
        background-color: #FA6423;
        border: none;
        border-radius: 5px;
        
        font-size: 1rem;
        line-height: 1.5rem;
        cursor: pointer;
        transition: all .3s ease-in;
        &:hover {
            filter: brightness(1.15);
        }
    }

@media (min-width: 768px) {
    form {
        width: initial;
        margin-top: 0.875rem; 
        .row {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 600px;
        }
    }
    .form-group {
        margin-right: 8px;
        max-width: 48.5%;
        width: 80%;
        .form-control {
            max-width: 100%;
            width: 100%;
        }
    }
    .form-group:nth-child(3) {
        max-width: 100%;
        width: 100%;
        margin-bottom: 0.875rem;
    }
    .btn.btn-form {
        width: 100%;
    }
}
@media (min-width: 1280px) {
    .bg-mobile { background-color: transparent; }
    form {
        margin-top: 0;
        .row { 
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: initial;
        }
    }
    .form-block.row {
        margin-top: -3%;
        flex-direction: row;
        .title p{
            font-size: 1.25rem;
            line-height: 1.5rem;
        }
    }
   
    .form-group {
        margin-bottom: 13px;
        max-width: none;
        width: auto;
         &:nth-child(3) {
            max-width: none;
            width: auto;
        }
        .form-control  {
            min-width: 216px;
            max-width: 217px;
            min-height: 60px;
            margin: 0 4px;
            font-size: 1.125rem;
        }
    }
        .btn.btn-form {
            margin-top: 0;
            margin-left: 0.625rem;
            min-width: 189px;
            min-height: 60px;
            font-size: 1.125rem;
            line-height: 1.375rem;
        }
}

@media (min-width: 1440px) {
    .form-block.row {
        margin-top: -3%;
        flex-direction: row;
        .title p{
            font-size: 1.5rem;
            line-height: 1.875rem;
        }
    }
}
</style>