<template>
	<div id="form-modal">
		<div
			class="modal-box"
			:class="{
				'modal-show': displayFormModal && !hasSendGeneralLead,
				'modal-box-success': submitSucces,
			}"
		>
			<div class="modal-content scaleup">
				<div class="modal-close-button shadow" @click="closeFormModal">
					<img src="~assets/img/icons/close.svg" alt="Icone do botão de fechar" />
				</div>
				<div class="modal-block">
					<div class="modal-body" :class="submitSucces ? 'success-content' : ''">
						<template v-if="submitSucces">
							<div style="max-width: 600px;">
								<h2 class="modal-title">
									Provavelmente seu endereço possui cobertura!
								</h2>
								<p class="modal-description">
									Vamos entrar em contato em instantes através do DDD 16 para uma análise completa e
									confirmar a disponibilidade de cobertura no seu CEP.
								</p>
							</div>
						</template>
						<template v-else>
							<h2 class="modal-title">
								Olá, precisamos de mais alguns dados para confirmar sua cobertura.
							</h2>
							<p class="modal-description">
								Preencha os dados abaixo e receba a confirmação rapidamente.
							</p>
							<form @submit.prevent="submit">
								<div class="row">
									<div class="form-group">
										<input
											v-model="form.full_name"
											type="text"
											class="form-control"
											placeholder=" "
											name="name"
											required
										/>
										<label for="name">Nome</label>
									</div>
									<div class="form-group">
										<input
											v-model="form.email"
											type="email"
											class="form-control"
											placeholder=" "
											name="email"
											required
										/>
										<label for="email">E-mail</label>
									</div>
										
									<div class="form-group">
										<the-mask
											:mask="['(##) ####-####', '(##) #####-####']"
											placeholder=" "
											name="tel"
											class="form-control"
											:value="coverageInfo.phone_number"
											required
											readonly
										/>
										<label for="tel">Telefone</label>
									</div>
								<div class="check-group">
									<input
										type="checkbox"
										id="tel-whatsapp"
										name="tel-whatsapp"
										v-model="form.phone_number_whatsapp"
									/>
									<label for="tel-whatsapp">Esse número é WhatsApp</label>
								</div>
							

								<div class="form-group">
									<the-mask
										:value="coverageInfo.postal_code"
										:mask="['#####-###']"
										class="form-control"
										:class="{ invalid: !postalCodeValid }"
										name="cep"
										placeholder=" "
										required
										readonly
									/>
									<label for="cep">CEP</label>
									<span v-if="!postalCodeValid">
										<small class="invalid-message roboto-regular">CEP inválido</small>
									</span>
								</div>

								<div v-if="!address.state || address.state == 'Selecione seu estado'" class="form-group">
									<div class="select-wraper">
										<select
											v-model="form.state"
											name="state"
											id="state"
											class="form-control"
											required
										>
											<option disabled value>Selecione seu estado</option>
											<option :value="state.sigla" v-for="(state, index) in uf" :key="index">{{
												state.nome
											}}</option>
										</select>
										<label for="state">Estado</label>
									</div>
								</div>
							

								<div v-if="!address.city" class="form-group">
									<input
										v-model="form.city"
										type="text"
										name="city"
										placeholder=" "
										class="form-control"
										required
									/>
									<label for="city">Cidade</label>
								</div>
						
								<div v-if="!address.address" class="form-group">
									<input
										v-model="form.address"
										type="text"
										class="form-control"
										name="address"
										placeholder=" "
										required
									/>
									<label for="address">Endereço</label>
								</div>

								<div class="form-group">
									<input
										:value="coverageInfo.number"
										type="number"
										class="form-control"
										name="number"
										placeholder=""
										required
										readonly
									/>
									<label for="number">Número</label>
								</div>

								<div v-if="!address.district" class="form-group">
									<input
										v-model="form.district"
										type="text"
										class="form-control"
										name="neighborhood"
										placeholder=" "
										required
									/>
									<label for="neighborhood">Bairro</label>
								</div>
							</div>

								<div class="check-group">
									<input
										type="checkbox"
										id="complement-checkbox"
										name="complement-checkbox"
										class=""
										placeholder=" "
										v-model="displayComplementFields"
									/>
									<label for="complement-checkbox">Tenho complemento</label>
								</div>

								<!-- complementos -->
								<template v-if="displayComplementFields">
									<div class="row">
										<div class="select-wraper form-group">
											<select
												v-model="form.complement_type"
												name="complement_type"
												id="complement_type"
												class="form-control"
												:required="form.complement != undefined && form.complement.length > 0"
											>
												<option
													:value="type.text"
													v-for="type in complements_types"
													:key="type.value"
												>{{ type.text }}</option>
											</select>
											<label for="complement_type">Tipo de complemento</label>
										</div>
										<div class="form-group">
											<input
												v-model="form.complement"
												type="text"
												class="form-control"
												name="complement"
												placeholder=" "
												:required="form.complement_type !== null"
											/>
											<label for="complement">Complemento</label>
										</div>
									</div>

									<div class="row">
										<div v-show="complement_count > 1" class="form-group">
											<div class="select-wraper">
												<select
													v-model="form.complement_type_b"
													name="complement_type_b"
													id="complement_type_b"
													class="form-control"
													:required="form.complement_b != undefined && form.complement_b.length > 0"
												>
													<option
														:value="type.text"
														v-for="type in complements_types"
														:key="type.value"
													>{{ type.text }}</option>
												</select>
												<label for="complement_type_b">Tipo de complemento</label>
											</div>
										</div>
										<div v-show="complement_count > 1" class="form-group">
											<input
												v-model="form.complement_b"
												type="text"
												class="form-control"
												name="complement_b"
												placeholder=" "
												:required="form.complement_type_b !== null"
											/>
											<label for="complement_b">Complemento</label>
										</div>
									</div>

									<div class="row">
										<div v-show="complement_count > 2" class="form-group">
											<div class="select-wraper">
												<select
													v-model="form.complement_type_c"
													name="complement_type_c"
													id="complement_type_c"
													class="form-control"
													:required="form.complement_c != undefined && form.complement_c.length > 0"
												>
													<option
														:value="type.text"
														v-for="type in complements_types"
														:key="type.value"
													>{{ type.text }}</option>
												</select>
												<label for="complement_type_c">Tipo de complemento</label>
											</div>
										</div>
										<div v-show="complement_count > 2" class="form-group">
											<input
												v-model="form.complement_c"
												type="text"
												class="form-control"
												name="complement_c"
												placeholder=" "
												:required="form.complement_type_c !== null"
											/>
											<label for="complement-c">Complemento</label>
										</div>
									</div>

									<div class="row">
										<button
											:disabled="complement_count === 3"
											type="button"
											@click="() => {complement_count += 1;}"
											:class="complement_count === 3 ? '' : ''"
											class="btn btn-form"
										>
											Adicionar 
										</button>

										<button
											type="button"
											@click="removeComplement"
											:disabled="complement_count === 1"
											:class="complement_count === 1 ? '' : ''"
											class="btn btn-form"
										>
											Remover
										</button>
									</div>
								</template>
								<footer class="send">
									<button class="btn btn-form">
										Verificar agora
									</button>
								</footer>
							</form>
						</template>
					</div>
				</div>
			</div>
		</div>
		<!-- overlay -->
		<div class="modal-overlay" @click="closeFormModal" />
	</div>
</template>

<script>
	import postalCodeMixins from "@/mixins/postal_code";

	export default {
		mixins: [postalCodeMixins],

		data() {
			return {
				postalCodeValid: true,
				displayComplementFields: false,
				submitSucces: false,
				isSubmitting: false,
				complement_count: 1,
				complements_types: [
					{
						value: null,
						text: "Selecione um tipo de complemento",
					},
					{
						value: 1,
						text: "Altos",
					},
					{
						value: 2,
						text: "Andar",
					},
					{
						value: 3,
						text: "Apartamento",
					},
					{
						value: 4,
						text: "Armazém",
					},
					{
						value: 5,
						text: "Arco",
					},
					{
						value: 6,
						text: "Altura",
					},
					{
						value: 7,
						text: "Beco",
					},
					{
						value: 8,
						text: "Blocos",
					},
					{
						value: 9,
						text: "Box",
					},
					{
						value: 10,
						text: "Baixos",
					},
					{
						value: 11,
						text: "Cais",
					},
					{
						value: 12,
						text: "Cobertura",
					},
					{
						value: 13,
						text: "Condomínio",
					},
					{
						value: 14,
						text: "Chácara",
					},
					{
						value: 15,
						text: "Conjunto",
					},
					{
						value: 16,
						text: "Corredor",
					},
					{
						value: 17,
						text: "Casa",
					},
					{
						value: 18,
						text: "Caixa Postal",
					},
					{
						value: 19,
						text: "Edifício",
					},
					{
						value: 20,
						text: "Entrada",
					},
					{
						value: 21,
						text: "Entrepiso",
					},
					{
						value: 22,
						text: "Fazenda",
					},
					{
						value: 23,
						text: "Frente",
					},
					{
						value: 24,
						text: "Fundos",
					},
					{
						value: 25,
						text: "Guichê",
					},
					{
						value: 26,
						text: "Granja",
					},
					{
						value: 27,
						text: "Galeria",
					},
					{
						value: 28,
						text: "Garagem",
					},
					{
						value: 29,
						text: "Hangar",
					},
					{
						value: 30,
						text: "Quilômetro",
					},
					{
						value: 31,
						text: "Lado",
					},
					{
						value: 32,
						text: "Letra",
					},
					{
						value: 33,
						text: "Loja",
					},
					{
						value: 34,
						text: "Loteamento",
					},
					{
						value: 35,
						text: "Lote",
					},
					{
						value: 36,
						text: "Mezanino",
					},
					{
						value: 37,
						text: "Pavimento",
					},
					{
						value: 38,
						text: "Prédio",
					},
					{
						value: 39,
						text: "Poste",
					},
					{
						value: 40,
						text: "Piso",
					},
					{
						value: 41,
						text: "Plataforma",
					},
					{
						value: 42,
						text: "Portão",
					},
					{
						value: 43,
						text: "Parada",
					},
					{
						value: 44,
						text: "Ponte",
					},
					{
						value: 45,
						text: "Pavilhão",
					},
					{
						value: 46,
						text: "Próximo",
					},
					{
						value: 47,
						text: "Quadra",
					},
					{
						value: 48,
						text: "Recanto",
					},
					{
						value: 49,
						text: "Saguão",
					},
					{
						value: 50,
						text: "Sítio",
					},
					{
						value: 51,
						text: "Sobreloja",
					},
					{
						value: 52,
						text: "Sala",
					},
					{
						value: 53,
						text: "Sobrado",
					},
					{
						value: 54,
						text: "Sub-solo",
					},
					{
						value: 55,
						text: "Térreo",
					},
					{
						value: 56,
						text: "Zona",
					},
				],

				uf: [
					{ nome: "Acre", sigla: "AC" },
					{ nome: "Alagoas", sigla: "AL" },
					{ nome: "Amapá", sigla: "AP" },
					{ nome: "Amazonas", sigla: "AM" },
					{ nome: "Bahia", sigla: "BA" },
					{ nome: "Ceará", sigla: "CE" },
					{ nome: "Distrito Federal", sigla: "DF" },
					{ nome: "Espírito Santo", sigla: "ES" },
					{ nome: "Goiás", sigla: "GO" },
					{ nome: "Maranhão", sigla: "MA" },
					{ nome: "Mato Grosso", sigla: "MT" },
					{ nome: "Mato Grosso do Sul", sigla: "MS" },
					{ nome: "Minas Gerais", sigla: "MG" },
					{ nome: "Pará", sigla: "PA" },
					{ nome: "Paraíba", sigla: "PB" },
					{ nome: "Paraná", sigla: "PR" },
					{ nome: "Pernambuco", sigla: "PE" },
					{ nome: "Piauí", sigla: "PI" },
					{ nome: "Rio de Janeiro", sigla: "RJ" },
					{ nome: "Rio Grande do Norte", sigla: "RN" },
					{ nome: "Rio Grande do Sul", sigla: "RS" },
					{ nome: "Rondônia", sigla: "RO" },
					{ nome: "Roraima", sigla: "RR" },
					{ nome: "Santa Catarina", sigla: "SC" },
					{ nome: "São Paulo", sigla: "SP" },
					{ nome: "Sergipe", sigla: "SE" },
					{ nome: "Tocantins", sigla: "TO" },
				],
				form: {
					type: "complete",
					state: "",
					phone_number_whatsapp: true,
					contact_number_whatsap: false,
					gender: null,
					complement: "",
					complement_type: null,
					complement_b: "",
					complement_type_b: null,
					complement_c: "",
					complement_type_c: null,
				},
			};
		},

		watch: {
			displayComplementFields(value) {
				if (value) {
					this.form.complement_type = "Selecione um tipo de complemento";
				} else {
					this.form.complement_type = "";
				}
			},
		},

		computed: {
			displayFormModal() {
				return this.$store.state.generalLeadForm.displayFormModal;
			},

			address() {
				return this.$store.state.forms.address;
			},

			coverageInfo() {
				return this.$store.state.plans.coverage;
			},

			hasSendGeneralLead() {
				return this.$store.state.generalLeadForm.hasSendGeneralLead;
			},

			leads() {
				return this.$store.state.leads;
			},
		},

		methods: {
			removeComplement() {
				if (this.complement_count == 3) {
					this.form.complement_c = "";
					this.form.complement_type_c = null;
				} else {
					this.form.complement_b = "";
					this.form.complement_type_b = null;
				}
				this.complement_count -= 1;
			},
		
			async submit() {
				this.isSubmitting = true;

				this.postalCodeValid = await this.isPostalCodeValid(this.coverageInfo.postal_code);

				this.form = {
					...this.form,
					...this.coverageInfo,
					url: window.location.href,
				};

				if (this.postalCodeValid) {
					this.postalCodeValid = true;

					try {
						// await this.$axios(`/leads/${this.leads.lead_id}`)
						await this.$axios.$put(`/leads/${this.leads.lead_id}`, this.form);

						this.submitSucces = true;
						this.delayHasSendFlag();
						this.$gtm.push({ event: "preencheuFormularioSOS" });
					} catch (error) {
						await this.$axios.$post("/lead", this.form);
						this.submitSucces = true;
						this.delayHasSendFlag();
						this.$gtm.push({ event: "preencheuFormularioSOS" });
					}
					this.isSubmitting = false;
				} else {
					this.isSubmitting = false;
				}
			},

			delayHasSendFlag() {
				setTimeout(() => {
					this.$store.commit("generalLeadForm/setHasSendGeneralLead", true);
				}, 6000);
			},

			closeFormModal() {
				this.$store.commit("generalLeadForm/closeFormModal");
			},
		},
	};
</script>

<style lang="scss">
	.modal-box {
    position: fixed;
    left: 50%;
    top: 40%;
    width: 100%;
    height: auto;
    max-height: none;
  	max-width: 288px;
    margin-top: 20px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2000;
    visibility: hidden;
    transition: all 300ms;
	
		.modal-content {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			position: relative;
			background-color: #FFFFFF;
			background-image: none;
			display: flex;
			justify-content: flex-start;
			border-radius: 5px;

			.modal-block {
				padding: 25px 20px;
				width: 100%;
				
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;

				.row {
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: flex-start;
				}
				form {
					overflow-y: scroll;
					height: 300px;
					margin-top: 1rem;
				}
				.check-group {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin: 8px 0 16px 8px;
					label {
						margin-left: 8px;
					}
				}
				label {
                    background: #FFFFFF;
                }
				.form-control {
                    min-width: 251px;
                    max-width: 251px;
					background: #FFFFFF;
					   &:-webkit-autofill,
							&:-webkit-autofill:hover,
							&:-webkit-autofill:focus,
							&:-webkit-autofill::marker {
								-webkit-text-fill-color: #000;
								-webkit-box-shadow: 0 0 0 30px #ffffff inset;
								transition: background-color 5000s ease-in-out 0s;
						}
				}
                .btn.btn-form {
                    max-width: 251px;
                    min-width: 251px;
                }
				.modal-title {
					font-size: 1.25rem;
					font-weight: 400;
					line-height: 1.5rem;
					color: #000000;
				}

				.modal-description {
					margin: 10px 0;
					font-size: 0.875rem;
					font-weight: 300;
					line-height: 1.0625rem;
					color: #000000;
				}
				.modal-icon {
					margin-bottom: 0px;
				}
			}

			.modal-close-button {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				background: #F9F9F9;
				border-radius: 50%;
				border: 1px solid #ECECEC;

				height: 30px;
				width: 30px;
				position: absolute;
				top: 25px;
				right: 20px;
			}
		}
}
.bg-confirmation {
    background-color: #fff;
    background-image: none;
}
.bg-confirmation .modal-block {
    min-width: 100%;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(102,0,153,0.30196) 0% 0% no-repeat padding-box;
  transition: all 0.2s;
}

.scaleup {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.3s;
}

.modal-show .scaleup {
  opacity: 1;
  transform: scale(1);
}

.modal-show {
  visibility: visible;
}

.modal-show ~ .modal-overlay {
  visibility: visible;
  opacity: 1;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .modal-overlay {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
	.modal-box {
		max-width: 50%;
		.modal-content {
			.modal-block {
				height: 100%;
				width: 100%;
				form {
					margin-top: 2rem;
					.form-group {
						max-width: 100%;
						width: 100%;
					}
					.form-control,
					.btn.btn-form {
						max-width: 100%;
						width: 100%;
					}
				}
				.modal-title {
					font-size: 1.5rem;
                    line-height: 1.875rem;
					margin-right: 8px;
				}

				.modal-description {
					margin-top: 13px;
					font-size: 0.875rem;
				}

				footer.send {
					margin-top: 1rem;
				}
			}
		}
	}
}

@media (min-width: 1280px) {
    .modal-box.modal-result {
        max-width: 639px;
    }
	.modal-box { 
        max-width: 780px;
        .modal-content .modal-block {
			width: 100%;
            padding: 30px;
			form {
				height: 450px;
				.row {
					align-items: center;
				}
				.form-group {
					width: initial;
					.form-control {
						margin: 0 8px 0 0;
						max-width: 251px;
					}
					&:last-child .form-control {
						margin: 0;
					}
				}
				.btn.btn-form {
					max-width: 251px;
					margin-left: 0px;
					&:nth-child(2) {
						margin-left: 8px;
					}
				}
			}
        }
    }
}
</style>
