<template>
  <div>
    <header class="main-menu">
      <div class="container row">
        <div class="logo-desktop">
          <NuxtLink to="/" title="Vivo Empresas">
            <img
              @click="display_menu('close')"
              src="/logo-desktop.svg"
              alt="Logo da Vivo Empresas"
              width="253"
              height="31"
            />
          </NuxtLink>
          <div v-if="showTopBarBlog() == 'blog'" class="divider"></div>
          <p v-if="showTopBarBlog() == 'blog'"><a href="/blog">Blog</a></p>
        </div>
        <div class="mob-group">
          <div
            class="toggle"
            @click="display_menu()"
            v-show="menus.length > 0"
          >
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="logo-mobile">
            <NuxtLink to="/" title="Home Vivo Empresa">
              <img
                @click="display_menu('close')"
                src="/logo-mobile.svg"
                alt="Vivo empresa Logo"
                width="98"
                height="41"
              />
            </NuxtLink>
          </div>
          <div class="contact-group">
            <div 
              class="number-block"
              v-if="callCenterPhoneStatus && !isCallCenterDisabled"
              @click="checkCoverage"
            >
                <span>Ligue grátis</span>
                <span>{{ callCenterPhone }}</span>
            </div>
            <div class="ask-block">
                <p>Já é cliente ?</p>
                <p><strong>103 15</strong></p>
            </div>
          </div>
        </div>
       
        <nav class="menu-group" v-if="menus">
          <ul class="menu-links">
            <li
              v-for="(menu, m) in menus"
              :key="m"
              @click="
                menu.length <= 0
                  ? display_menu('close')
                  : (menu.active = !menu.active)
              "
            >
              <a 
                  v-if="menu.length > 0" 
                  class="title"
              >
                  {{ menu.label }} 
              </a>
              <NuxtLink v-else class="title" :to="menu.url" :title="menu.label">{{
                menu.label
              }}</NuxtLink>
              
            </li>
          </ul>
         
        </nav>
      </div>
    </header>
  </div>
</template>

<script>
export default {
  props: {
    menus: {
      type: Array,
      required: true,
    },
  },

  computed: {
    getForms() {
      return this.$store.getters['forms/getForms']
    },
    isCallCenterDisabled() {
      return this.$store.state.callcenter.isCallCenterDisabled
    },
    callCenterPhone() {
      return this.$store.getters.getPhone
    },
    callCenterPhoneStatus() {
      return this.$store.getters.getIsPhoneActive
    }
  },

  methods: {
    checkCoverage() {
      if (this.getForms['1c62b63e-3ca6-47aa-bc66-dc99dc40ff09'].active) {
        this.$store.commit('modals/openCoverageModal')
      }
    },
    display_menu(value) {
      var body = document.getElementsByTagName("body")[0];
      if (value === "close") {
        body.classList.remove("display_menu");
      } else {
        !body.classList.contains("display_menu")
          ? body.classList.add("display_menu")
          : body.classList.remove("display_menu");
      }
    },
    showTopBarBlog() {
      let separator = this.$route.path.split("/");
      return separator[1];
    },
  },
};
</script>

<style lang="scss" scope>
body {
  padding-top: 80px
}
.main-menu {
  position: absolute;
  top: 0;
  z-index: 10;

  width: 100%;
  padding: 15px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e6e6;
  
  display: flex;
  justify-content: center;
  transition: 0.3s ease-in;

  .container {
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: column;

    .logo-desktop { display: none; }
    .mob-group {
      width: 100%;

      display: flex;
      justify-content: space-around;
      align-items: center;

      .contact-group {
        order: 1;
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        .number-block {
            width: 100%;
            max-width: 130px;
            min-height: 35px;
            
            background-color: #660099;
            border-radius: 5px;
            padding: 8px;

            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;

            cursor: pointer;
            
            span {
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1rem;
                color: #FFFFFF;
            }
            span + span {
                font-size: 1rem;
                line-height: 1.125rem;
            }
        }
        .ask-block { display: none; }
      }

      .toggle {
        display: block;

        order: 3;
        cursor: pointer;
        border-radius: 50%;

        span {
          display: block;
          height: 3px;
          margin-top: 5px;
          margin-bottom: 5px;
          background-color: #660099;
          transition: 0.33s;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            width: 24px;
          }
        }
      }
    }
    
    .menu-group {
      width: 100%;
      display: block;
      height: 0;
      transform-origin: 50% 0;
      transition: 0.33s ease;
      flex-direction: column;
      
      .menu-links {
        order: 2;
        width: 100%;
        text-align: left;
        list-style: none;
        display: none;

        li {
          height: 0;
          opacity: 0;
          margin: 10px 0;
          a {
            color: #000000;
            text-decoration: none;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.375rem;
            margin: 0 1.125rem;
            
            left: 0;
            width: 100%;
            display: block;  
            transition: .3s ease-in;
            &:hover {
              color: #660099;
            }
          }
        }
      }
    }
  }
}
.display_menu {
  &::after {
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  .main-menu {
    
    .toggle {
      span {
        &:nth-child(1) { transform: rotate(45deg) translate(3px, 1px); display: none; }
        &:nth-child(2) { transform: rotate(-45deg) translate(4px, -2px); }
        &:nth-child(3) { transform: rotate(45deg) translate(-7px, -9px); }
      }
    }
    .menu-group  {
      margin: 2rem 0;
      height: calc(55% - 64px);
      .menu-links {
        display: flex;
        flex-direction: column;
        li {
          height: auto;
          transition: 0.25s ease;
          opacity: 1;
          display: block;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .main-menu .container .mob-group .contact-group {
    justify-content: flex-end;
    margin-right: 2rem;
  }
 
}

@media (min-width: 1280px) {
  body {
    padding: 0px;
  }
  .main-menu {
    position: relative;

    .container.row {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .logo-desktop { 
        display: flex;
        align-content: center; 
        .divider {
          width: 2px;
          background-color: #660099;
          height: 2.5rem;
          margin: 0 1rem;
        }
        p {
          align-self: center;
          a {
            font-size: 1.5rem;
            font-weight: 400;
            color: #660099;
            text-decoration: none;
          }
        }
      }
      .logo-mobile { display: none; }

      .mob-group {
        order: 2;
        max-width: 40%;

        .contact-group {
          order: 2;
          margin-right: 0;

          .number-block {
            align-items: center;
            flex-direction: row;

            margin-right: 20px;
            max-width: 290px;
            min-height: 60px;

            span {
              font-size: 1.125rem;
              font-weight: 400;
              line-height: 1.375rem;
              color: #FFFFFF;

              display: flex;
              align-items: center;
            }
            span + span {
              &::before {
                content: "";
                display: block;
                width: 1px;
                height: 28px;
                background-color: #FFFFFF;
                margin: 0 15.5px;
              }
            }

          }
          .ask-block {
            display: block;

            p {
              font-size: 1.125rem;
              font-weight: 400;
              line-height: 1.375rem;
              color: #000000;

              strong {
                font-weight: 500;
              }
            }

          }

        }
        .toggle { display: none; }
      }

      .menu-group {
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;

        .menu-links {
          z-index: 5;
          order: 1;
          text-align: right;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          li {
            opacity: 1;
            height: 100%;
            margin: 0;

            a {
              font-size: 1.25rem;
              line-height: 1.375rem;
              margin: 0 1.125rem;
                transition: .3s ease-in;
               &:hover {
                color: #660099;
              }
            }

          } 

        }

      }

    }
  }

}
</style>
