<template>
	<div id="form-modal">
		<div>
            <h2>Teste</h2>
        </div>
		<!-- overlay -->
		<div class="modal-overlay" @click="closeFormModal" />
	</div>
</template>

<script>
	import postalCodeMixins from "@/mixins/postal_code";

	export default {
		mixins: [postalCodeMixins],

		data() {
			return {
				postalCodeValid: true,
				displayComplementFields: false,
				submitSucces: false,
				isSubmitting: false,
				complement_count: 1,
			};
		},

		watch: {
			displayComplementFields(value) {
				if (value) {
					this.form.complement_type = "Selecione um tipo de complemento";
				} else {
					this.form.complement_type = "";
				}
			},
		},

		computed: {
			displayFormModal() {
				return this.$store.state.generalLeadForm.displayFormModal;
			},

			address() {
				return this.$store.state.forms.address;
			},

			coverageInfo() {
				return this.$store.state.plans.coverage;
			},

			hasSendGeneralLead() {
				return this.$store.state.generalLeadForm.hasSendGeneralLead;
			},

			leads() {
				return this.$store.state.leads;
			},
		},

		methods: {
			removeComplement() {
				if (this.complement_count == 3) {
					this.form.complement_c = "";
					this.form.complement_type_c = null;
				} else {
					this.form.complement_b = "";
					this.form.complement_type_b = null;
				}
				this.complement_count -= 1;
			},
		
			async submit() {
				this.isSubmitting = true;

				this.postalCodeValid = await this.isPostalCodeValid(this.coverageInfo.postal_code);

				this.form = {
					...this.form,
					...this.coverageInfo,
					url: window.location.href,
				};

				if (this.postalCodeValid) {
					this.postalCodeValid = true;

					try {
						// await this.$axios(`/leads/${this.leads.lead_id}`)
						await this.$axios.$put(`/leads/${this.leads.lead_id}`, this.form);

						this.submitSucces = true;
						this.delayHasSendFlag();
						this.$gtm.push({ event: "preencheuFormularioSOS" });
					} catch (error) {
						await this.$axios.$post("/lead", this.form);
						this.submitSucces = true;
						this.delayHasSendFlag();
						this.$gtm.push({ event: "preencheuFormularioSOS" });
					}
					this.isSubmitting = false;
				} else {
					this.isSubmitting = false;
				}
			},

			delayHasSendFlag() {
				setTimeout(() => {
					this.$store.commit("generalLeadForm/setHasSendGeneralLead", true);
				}, 6000);
			},

			closeFormModal() {
				this.$store.commit("generalLeadForm/closeFormModal");
			},
		},
	};
</script>

<style lang="scss">
	.modal-box {
    position: fixed;
    left: 50%;
    top: 40%;
    width: 100%;
    height: auto;
    max-height: none;
  	max-width: 288px;
    margin-top: 20px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2000;
    visibility: hidden;
    transition: all 300ms;
	
		.modal-content {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			position: relative;
			background-color: #FFFFFF;
			background-image: none;
			display: flex;
			justify-content: flex-start;
			border-radius: 5px;

			.modal-block {
				padding: 25px 20px;
				width: 100%;
				
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;

				.row {
					flex-wrap: wrap;
					justify-content: flex-start;
					align-items: flex-start;
				}
				form {
					overflow-y: scroll;
					height: 300px;
					margin-top: 1rem;
				}
				.check-group {
					display: flex;
					align-items: center;
					justify-content: flex-start;
					margin: 8px 0 16px 8px;
					label {
						margin-left: 8px;
					}
				}
				label {
                    background: #FFFFFF;
                }
				.form-control {
                    min-width: 251px;
                    max-width: 251px;
					background: #FFFFFF;
					   &:-webkit-autofill,
							&:-webkit-autofill:hover,
							&:-webkit-autofill:focus,
							&:-webkit-autofill::marker {
								-webkit-text-fill-color: #000;
								-webkit-box-shadow: 0 0 0 30px #ffffff inset;
								transition: background-color 5000s ease-in-out 0s;
						}
				}
                .btn.btn-form {
                    max-width: 251px;
                    min-width: 251px;
                }
				.modal-title {
					font-size: 1.25rem;
					font-weight: 400;
					line-height: 1.5rem;
					color: #000000;
				}

				.modal-description {
					margin: 10px 0;
					font-size: 0.875rem;
					font-weight: 300;
					line-height: 1.0625rem;
					color: #000000;
				}
				.modal-icon {
					margin-bottom: 0px;
				}
			}

			.modal-close-button {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				background: #F9F9F9;
				border-radius: 50%;
				border: 1px solid #ECECEC;

				height: 30px;
				width: 30px;
				position: absolute;
				top: 25px;
				right: 20px;
			}
		}
}
.bg-confirmation {
    background-color: #fff;
    background-image: none;
}
.bg-confirmation .modal-block {
    min-width: 100%;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(102,0,153,0.30196) 0% 0% no-repeat padding-box;
  transition: all 0.2s;
}

.scaleup {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.3s;
}

.modal-show .scaleup {
  opacity: 1;
  transform: scale(1);
}

.modal-show {
  visibility: visible;
}

.modal-show ~ .modal-overlay {
  visibility: visible;
  opacity: 1;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .modal-overlay {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
	.modal-box {
		max-width: 50%;
		.modal-content {
			.modal-block {
				height: 100%;
				width: 100%;
				form {
					margin-top: 2rem;
					.form-group {
						max-width: 100%;
						width: 100%;
					}
					.form-control,
					.btn.btn-form {
						max-width: 100%;
						width: 100%;
					}
				}
				.modal-title {
					font-size: 1.5rem;
                    line-height: 1.875rem;
					margin-right: 8px;
				}

				.modal-description {
					margin-top: 13px;
					font-size: 0.875rem;
				}

				footer.send {
					margin-top: 1rem;
				}
			}
		}
	}
}

@media (min-width: 1280px) {
    .modal-box.modal-result {
        max-width: 639px;
    }
	.modal-box { 
        max-width: 780px;
        .modal-content .modal-block {
			width: 100%;
            padding: 30px;
			form {
				height: 450px;
				.row {
					align-items: center;
				}
				.form-group {
					width: initial;
					.form-control {
						margin: 0 8px 0 0;
						max-width: 251px;
					}
					&:last-child .form-control {
						margin: 0;
					}
				}
				.btn.btn-form {
					max-width: 251px;
					margin-left: 0px;
					&:nth-child(2) {
						margin-left: 8px;
					}
				}
			}
        }
    }
}
</style>
