<template>
    <section class="knowplans">
        <article class="main-card" :style="bannerHome">
            <p class="subtitle">Combos</p>
            <h3 class="title">Planos com TV, Banda Larga e Fixo</h3>
            <p class="description">Só a Vivo tem Planos de Internet para Empresas que precisam de conexão veloz para realizar suas atividades melhorar o dia a dia dos negócios.</p>
            <Nuxt-link to="">
                Ver planos
            </Nuxt-link>
        </article>
        <aside class="card-group"> 
            <article class="card">
                <h3 class="subtitle">Internet Fibra</h3>
                <p class="description">Só a Vivo tem Planos de Internet para Empresas 
                que precisam de conexão veloz para realizar suas 
                atividades e melhorar o dia a dia dos negócios.</p>
                <Nuxt-link to="">
                    Ver planos
                </Nuxt-link>
            </article>

            <article class="card">
                <h3 class="subtitle">Telefone Ilimitado</h3>
                <p class="description">Só a Vivo tem Planos de Internet para Empresas 
                que precisam de conexão veloz para realizar suas 
                atividades e melhorar o dia a dia dos negócios.</p>
                <Nuxt-link to="">
                    Ver planos
                </Nuxt-link>
            </article>
        </aside>
    </section>
</template>

<script>
export default {
    computed: {
        bannerHome() {
            let background = "";
            return background += `background-image: url(/conheca-planos.svg);`
        }
    }
}
</script>

<style lang="scss">
    .knowplans {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .description {
            font-size: 0.875rem;
            font-weight: 300;
            line-height: 1.063rem;
            max-width: 207px;
            margin: 0.813rem 0;
        }
        a {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.188rem;
            text-decoration: none;
            color: #660099;
            transition: filter .3s ease-in;

            &:hover {
                filter: brightness(1.75);
            }
        }
        .card,
        .main-card {
            max-width: 452px;
            min-height: 209px;
            background-color: #F7F7F7;
            padding: 1.938rem 2.1875rem;
            margin-bottom: 0.625rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .title {
                display: none;
                font-size: 1.8125rem;
                font-weight: 400;
                line-height: 2.25rem;
                margin-bottom: 0.625rem;
                max-width: 297px;
            }
            .subtitle {
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.375rem;
            }
            
        }
    }
@media (min-width: 768px) {
    .knowplans .main-card {
        max-width: 100%;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
        margin-bottom: 0.875rem;
    }
    .card-group {
        display: flex;
        justify-content: space-between;

        .card {
            width: 100%;
            max-width: 49%;
            min-height: 209px;
        }
    }
}
@media (min-width: 1280px) {
    .knowplans {
        flex-direction: row;
        .description {
            font-size: 1rem;
            line-height: 1.25rem;
            max-width: 401px;
        }
        a {
            font-size: 1.125rem;
            line-height: 1.375rem;
        }
        
        .main-card {
            width: 100%;
            max-width: 800px;
            min-height: 402px;
            padding: 3rem;
           

            .title { display: block; }
            .subtitle {
                font-size: 1.25rem;
                line-height: 1.5rem;
                margin-bottom: 0.75rem;
            }
            .description { max-width: 297px; }
        }

        .card-group {
            flex-direction: column;
            .card:first-child { margin-bottom: 1.4375rem; }
            .card {
                max-width: 380px;
                max-height: 190px;

                .title {
                    font-size: 1.25rem;
                    line-height: 1.5rem;
                }
            }
        }
    }
}
@media (min-width: 1440px) { 
    .knowplans  {
        .main-card {
            max-width: 920px;
        }
        .card-group {
            .card {
                max-width: 460px;
            }
        }
    }
}
</style>