<template>
    <section class="banner" :style="bannerHome">
        <div class="container">
            <template>
                <header class="title-group">
                    <p>Vivo Fibra</p>
                    <p>Mais velocidade para sua empresa</p>
                </header>
                <section class="product-group">
                    <div class="row column">
                        <div class="product-block row">
                            <div class="product-speed row">
                                <p>200</p>
                                <span>Mega</span>
                            </div>
                            <div class="product-price row">
                                <div class="column">
                                    <p>Por</p>
                                    <span>R$</span>
                                </div>
                                <span>99</span>
                                <div class="column">
                                    <p><span>,99</span> /mês no combo</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-group">
                            <ul>
                                <li>
                                    <span>
                                        <img src="/clock.svg" alt="Relógio" width="20" height="20">
                                    </span>
                                    <span>
                                        Técnico no local em até 4 horas
                                    </span>
                                </li>
                                <li>
                                    <span>
                                        <img src="/vivo-wifi.svg" alt="Ícone de Wifi" width="20" height="20">
                                    </span>
                                    <span>
                                        Smart Wi-Fi e modem grátis
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </template>
        </div>
    </section>
</template>

<script>
export default {
    computed: {
        bannerHome() {
            let background = "";
            return background += `background-image: url(/banner-vivoempresas.png);`
        }
    }
}
</script>

<style lang="scss">
    .column {
        display: flex;
        flex-direction: column;
    }
   .row {
        display: flex;
        align-items: center;
    }
    .banner {
        background-color: #251222;
        height: 100%;
        width: 100%;
        .container {
            min-height: 224px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .title-group {
            color: #FFFFFF;
            font-weight: 400;

            p:first-child {
                display: none;
                font-size: 1.25rem;
                line-height: 1.5rem;
            }
            p:last-child {
                font-size: 1.375rem;
                line-height: 1.375rem;
                max-width: 208px;
            }
        }
        .product-group {
            .row.column {
                flex-direction: column;
            }
            .product-block {
                margin-top: 14px;

                max-width: 100%;
                width: 100%;

                border: double 3px transparent;
                border-radius: 5px;
                background-image: linear-gradient(#251222, #251222), linear-gradient(90deg, #4F1C73 0%, #9C297D 100%);
                background-origin: border-box;
                background-clip: content-box, border-box;
                .product-speed {
                    width: 50%;
                    color: #FFFFFF;
                    font-weight: 400;
                    justify-content: center;

                    p {
                        font-size: 2.313rem;
                        line-height: 2.75rem;
                    }
                    span {
                        font-size: 1.063rem;
                        line-height: 1.25rem;
                        margin-left: 4px;
                    }
                }
                .product-price {
                    min-height: 70px;
                    width: 50%;
                    justify-content: center;

                    color: #FFFFFF;
                    background: linear-gradient(90deg, #742377 0%, #9C297D 100%);
                    
                    .column {
                        &:last-child {
                            flex: 0 0 40%;
                            text-align: right;
                            margin-left: -5px;
                        }
                        p {
                            font-size:0.625rem;
                            line-height: 0.813rem;
                        }
                        span {
                            font-size: 1.313rem;
                            line-height: 1.563rem;
                        }
                    }
                    span {
                        font-size: 2.313rem;
                        line-height: 2.75rem;
                    }
                }
            }
        }
        .info-group {
            width: 100%;
            ul {
                display: flex;
                list-style: none;
                padding: 0;
                margin-top: 0.875rem;
                li {
                    display: flex;
                    align-items: flex-start;
                    margin-right: 1.125rem;
                    span:first-child {
                        margin-right: 0.25rem;
                    }
                    span {
                        font-size: 0.875rem;
                        font-weight: 400;
                        line-height: 0.875rem;
                        color: #FFFFFF;
                        max-width: 105px;
                    }
                }
            }
        }
    }

    @media (min-width: 768px) {
        .banner { 
            background-size: cover;
            background-position-x: 70%;
            .product-group  {
                .row.column {
                    align-items: flex-start;        
                }
                .product-block {
                    max-width: 340px;
                }
            }
        }
    }
    @media (min-width: 1280px) {
         .banner {
            background-position: center;
            background-repeat: no-repeat;
            
            .container { 
                min-height: 327px; 
                padding-top: 2.875rem;
                justify-content: initial;
            }
            .title-group {
                p:first-child { display: block; }
                p:last-child {
                    font-size: 1.8125rem;
                    line-height: 1.8125rem;
                    max-width: 100%;
                }
            }
            .product-group {
                .row.column {
                    align-items: center;
                    flex-direction: row;
                }
                .product-block {
                    margin-right: 1.563rem;
                    max-width: 394px;
                    background-image: linear-gradient(#000, #000), linear-gradient(90deg, #4F1C73 0%, #9C297D 100%);
                    .product-speed {
                        p {
                            font-size: 3.0625rem;
                            line-height: 3.6875rem;
                        }
                        span {
                            font-size: 1.3125rem;
                            line-height: 1.5625rem;
                            margin-left: 4px;
                        }
                    }
                    .product-price {
                        min-height: 96px;
                        .column {
                            &:last-child {
                                text-align: center;
                            }
                            p {
                                font-size:0.8125rem;
                                line-height: 0.9375rem;
                            }
                            span {
                                font-size: 1.625rem;
                                line-height: 2.0625rem;
                            }
                        }
                        span {
                            font-size: 3.0625rem;
                            line-height: 3.6875rem;
                        }
                    }
                }
            }
            .info-group {
                ul {
                    flex-direction: column;
                    margin-top: 0.875rem;
                    li {
                        display: flex;
                        margin: 0 0 0.813rem 0;
                        span:first-child {
                            margin-right: 1.125rem;
                        }
                        span {
                            font-size: 1.188rem;
                            line-height: 1.188rem;
                            color: #FFFFFF;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    
    }
</style>