<template>
    <section class="meetblog">
        <swiper class="swiper" :options="swiperOption">
            <swiper-slide v-for="(post, index) in postList" :key="index">
                <Nuxt-link :to="`blog/${post.slug}`" class="card-post" :style="post.banner_url ? `background:url(${post.banner_url}) center no-repeat` : ''">
                    <article class="post">
                        <p class="reading-time">3 min de leitura</p>
                        <h3 class="title">{{ post.title}}</h3>
                        <Nuxt-link :to="`blog/${post.slug}`">Ver notícia</Nuxt-link>
                    </article>
                </Nuxt-link>
            </swiper-slide>

            <div class="swiper-button-prev" :class="hide ? 'hide' : ''" slot="button-prev"></div>
            <div class="swiper-pagination" :class="hide ? 'hide' : ''" slot="pagination"></div>
            <div class="swiper-button-next" :class="hide ? 'hide' : ''" slot="button-next"></div>
        </swiper>
    </section>
</template>

<script>
export default {
    data() {
        return {
            postList: [],
            hide: false,
            swiperOption: {
                slidesPerView: 3,
                spaceBetween: 20,
                breakpoints: {
                1440: {
                    slidesPerView: 3,
                },
                1280: {
                    spaceBetween: 0,
                    slidesPerView: 2,
                },
                640: {
                    slidesPerView: 2,
                },
                320: {
                    slidesPerView: 1,
                },
                },

                pagination: {
                el: ".swiper-pagination",
                type: "bullets",
                clickable: true,
                dynamicBullets: true,
                },
                navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
                },
            },
        }
    },
    methods: {
        async fetchBlogPosts() {
        const data = await this.$axios.$get("/blog/posts");

        this.postList = data.list;
        this.postList.push(data.featured);
        },
    },
    created() {
        this.fetchBlogPosts();
    },
}
</script>

<style lang="scss">
.swiper-slide {
  align-self: stretch;
  height: auto;
}
.hide {
  display: none;
}
.meetblog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .post.active {
        min-height: 209px;
        min-width: 265px;
    }
    .card-post {
        position: relative;

        min-height: 183px;
        min-width: 232px;
        width: 100%;
        
        display: block;
        text-decoration: none;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgba(0,0,0, 0.50);
            z-index: 1;
            transition: all 0.3s ease-in;
        }
        &:hover::before {
            background: rgba(0,0,0, 0.70);
        }
    }
    .post {
        position: relative;
        margin-right: 1.125rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding-left: 1.875rem;

        min-height: 183px;
        min-width: 232px;
        width: 100%;
        z-index: 2;
        margin-bottom: 1.5rem;
        
        .title {
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.25rem;
            color: #FFFFFF;
            
            max-width: 215px;
        }
        .reading-time {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.063rem;
            color: #FFFFFF;
            margin-bottom: 0.438rem;
        }
        a {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.188rem;
            color: #FFFFFF;
            margin-top: 0.938rem;
            transition: filter .3s ease-in;
            display: block;

            &:hover {
                filter: brightness(0.75);
            }
        }
    }
    .swiper-slide {
        min-width: 232px;
    }
     .swiper-button-next:after, .swiper-button-prev:after {
        font-size: 20px;
    }
    .swiper-button-next {
        top: initial;
        bottom: 0;
        left: 80px;
    }
    .swiper-button-prev {
        top: initial;
        bottom: 0;
        left: 0;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 60px;
        right: auto;
    }
}
@media (min-width: 1024px) {
    .meetblog {
        .post.active {
            min-height: 290px;
            max-width: 448px;
        }
        .post {
            padding-left: 3.5rem;
            min-height: 290px;
            max-width: 448px;
            
            .title {
                font-size: 1.5rem;
                line-height: 1.875rem;
                    
                max-width: 330px;
            }
            .reading-time {
                font-size: 1.125rem;
                line-height: 1.375rem;

                margin-bottom: 0.875rem;
            }
            a {
                font-size: 1.125rem;
                font-weight: 400;
                line-height: 1.375rem;

                color: #FFFFFF;
                margin-top: 1.25rem;
                transition: filter .3s ease-in;

                &:hover {
                    filter: brightness(0.75);
                }
            }
        }
        .swiper-slide {
            min-width: 448px;
        }
    }
}
@media (min-width: 1440px) {
    .meetblog {
        .post.active {
            min-height: 290px;
            max-width: 448px;
        }
        .post {
            padding-left: 3.5rem;
            min-height: 290px;
            max-width: 448px;
        }
    }
}
</style>