<template>
    <div class="modal">
        <div class="modal-box modal-show" :class="isCoverage && !response ? '' : 'modal-result'">
            <div class="modal-content scaleup" :class="isCoverage ? 'bg-coverage' : 'bg-confirmation'">
                <div class="modal-close-button" @click="onClose">
                    <img src="~assets/img/icons/close.svg" alt="Icone do botão de fechar" /> 
                </div>
                <div class="modal-block">
                    <template v-if="isCoverage && !response">
                        <p class="modal-title" v-if="isOnlyNumber">Ligaremos para você através do DDD 16</p>
                        <p class="modal-title" v-else>Consulte sua cobertura</p>

                        <template v-if="isOnlyNumber">
                            <p class="modal-description">Um de nossos atendentes entrará em contato para te ajudar a escolher o melhor plano para
                            você e sua família.</p>
                        </template>
                        <template v-else>
                            <p class="modal-description">Insira seu CEP e consulte a cobertura disponível para você.</p>
                        </template>

                        <form @submit.prevent="handleSubmit" class="modal-form" v-if="isOnlyNumber">
                            <div class="row">
                                <div class="form-group">
                                    <the-mask
                                        v-model="coverage.phone_number"
                                        :mask="['(##) ####-####', '(##) #####-####']"
                                        id="modalTel"
                                        name="tel"
                                        class="form-control" 
                                        placeholder="Digite seu Telefone"
                                        type="tel"
                                        required
                                    />
                                </div>

                                <div class="">
                                    <button
                                        style="min-height: 49px;"
                                        class="btn btn-md btn-rounded text-white roboto-regular"
                                        :class="{
                                            'flex justify-center items-center': isLoading,
                                            'bg-green hover:bg-green-100': !isOnlyNumber,
                                            'bg-pink hover:bg-pink-100': isOnlyNumber,
                                        }"
                                        :disabled="isLoading"
                                    >
                                        <LoadingDots size="small" v-if="isLoading" />
                                        <div class="flex items-center justify-center" v-if="!isLoading">
                                            {{ isOnlyNumber ? "Me ligue" : "Consultar" }}
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <form @submit.prevent="handleSubmit" class="modal-form" v-else>
                            <div class="row">

                                <div class="form-group">
                                    <the-mask
                                        v-model="coverage.postal_code"
                                        :mask="['#####-###']"
                                        class="form-control" 
                                        name="cep"
                                        placeholder=" "
                                        type="tel"
                                        required
                                    />
                                    <label for="cep">Digite seu CEP</label>
                                </div>

                                <div class="form-group">
                                    <input
                                        v-model="coverage.number"
                                        placeholder=" "
                                        type="number"
                                        name="number"
                                        class="form-control" 
                                        required
                                    />
                                    <label for="number">Digite o Número do local</label>
                                </div>

                                <div class="form-group">
                                    <the-mask
                                        v-model="coverage.phone_number"
                                        :mask="['(##) ####-####', '(##) #####-####']"
                                        id="modalTel"
                                        class="form-control" 
                                        name="tel"
                                        placeholder=" "
                                        type="tel"
                                        required
                                    />
                                    <label for="phone">Digite seu telefone</label>
                                </div>
                                <button class="btn btn-form"> Consultar </button>

                            </div>
                        </form>
                    </template>
                    <template v-else>
                        <div>
                            <p class="modal-title">Tudo certo! Estamos ligando para você através do DDD 16.</p>
                        </div>
                    </template>
                </div>
            </div>
        </div>

        <div class="modal-overlay" @click="onClose" />
    </div>
</template>

<script>
	import phoneMixins from "@/mixins/phones";
	import postalCodeMixins from "@/mixins/postal_code";
	import clickSiteMixins from "@/mixins/clickSite";
	import generateLeadMixins from "@/mixins/generateLead";
    export default {
        mixins: [ phoneMixins, clickSiteMixins, postalCodeMixins, generateLeadMixins],
        props: {
            show: {
                type: Boolean,
                default: false,
            },
            isCoverage: {
                type: Boolean,
                default: false,
            },
        },
        
        watch: {
			coverageInfo(value) {
				this.coverage.postal_code = value.postal_code;
			},
		},

        computed: {
            coverageForm() {
				return this.$store.state.forms.coverageForm;
			},

			hasCoverage() {
				return this.$store.state.plans.hasCoverage;
			},

			isCallCenterDisabled() {
				return this.$store.state.callcenter.isCallCenterDisabled;
			},

			callCenterStatus() {
				return this.$store.state.callcenter.status;
			},

			callCenterPhone() {
				return this.$store.state.callcenter.phone_number;
			},

			isOnlyNumber() {
				return this.$store.state.modals.onlyNumber;
			},

			products() {
				return this.$store.state.plans.products;
			},

			coverageInfo() {
				return this.$store.state.plans.coverage;
			},

			selectedProduct() {
				return this.$store.state.cards.idToCheckCoverage;
			},

			leads() {
				return this.$store.state.leads;
			},
        },

        data() {
			return {
				isSearchingAddress: false,
				phoneValid: true,
				postalCodeValid: true,
				response: false,
				coverage: {
					phone_number: null,
					postal_code: null,
					number: null,
					utm_source: "",
					utm_medium: "",
					utm_campaign: "",
					utm_content: "",
					gclid: "",
				},
				page: "",
				wantedAddress: "",
			};
		},

        methods: {
            onClose() {
                if (this.isCoverage) {
                    this.$store.commit("modals/closeCoverageModal");
                } else {
                    this.$store.commit("modals/closeConfirmationModal");
                }

                if (this.isOnlyNumber) {
                    setTimeout(() => {
                        this.$store.commit("modals/unsetOnlyNumber");
                    }, 400);
                }
            },

            async handleSubmit() {
				try {
					if (this.hasInvalidDigits(this.coverage.phone_number)) {
						return (this.phoneValid = false);
					} else {
						this.phoneValid = await this.isPhoneValid(this.coverage.phone_number);
					}

					this.postalCodeValid = await this.isPostalCodeValid(this.coverage.postal_code);

					if (this.isOnlyNumber && this.phoneValid && this.postalCodeValid) {
						this.phoneValid = true;
						this.postalCodeValid = true;

						if (this.coverage.phone_number.length >= 10) {
							this.response = true;
							let k = this;
							setTimeout(function () {
								k.response = false;
							}, 6000);
						}
					} else {
						if (this.phoneValid && this.postalCodeValid) {
							this.checkCoverage();
						}
					}
				} catch (error) {
					error(error);
				}
			},


            async checkCoverage() {
                this.$store.commit("modals/closeCoverageModal");
                if (this.selectedProduct && this.hasCoverage) {

                    let combos = [
                        ...(this.products.combo ? this.products.combo : []),
                        ...(this.products.internet ? this.products.internet : []),
                    ];

                    if (combos.length > 0) {
                        let product = combos.find((prod) => 
                            prod.id === this.selectedProduct.id
                        );

                        if (product) {
                            let query = `?postal_code=${this.coverageInfo.postal_code}
                                        &addr_number=${this.coverageInfo.number}
                                        &phone_number=${this.coverageInfo.phone_number}
                                        &prod=${product.id}`;

                            if (Object.keys(this.$route.query).length > 0) {

                                for (let property in this.$route.query) {
                                    query += `&${property}=${this.$route.query[property]}`;
                                }

                            }
                            query += `&lead_id=${this.leads.lead_id}`;
                        }
                    }
                }

                if (this.hasCoverage) {
                    this.$store.commit("modals/openSuccessCoverageModal");
                    await this.generateLead("comcob");
                    await this.fetchLeadAddress();
                    await this.callToCustomer();
                    if(process.browser){
                        dataLayer.push({ 'event': 'popupComCobertura' })
                    }
                } else {
                    await this.generateLead("semcob");
                    await this.fetchLeadAddress();
                    await this.callToCustomer("vivopfsemcobsite");
                    this.$store.commit("generalLeadForm/openFormModal");
                    if(process.browser){
                        dataLayer.push({ 'event': 'popupSemCobertura' })
                    }
                }
                if(process.browser){
                    dataLayer.push({ 'event': 'consulteCoberturaModal', 'category': this.page  })
                }
            },

            async fetchLeadAddress() {
				try {
					let { data } = await this.$axios(`/location/by-postal-code?postal_code=${this.coverageInfo.postal_code}`);
					this.$store.commit("forms/setAddress", data);
				} catch (error) {
					const address = {
						address: null,
						city: null,
						district: null,
						state: "Selecione seu estado",
					};
					this.$store.commit("forms/setAddress", address);
				}
			},

			async fetchWantedAddress() {
				this.addresses = await this.$axios.$post(`/location/by-address?address=${this.wantedAddress}`);
			},

			displayCepModal() {
				this.$store.commit("modals/setSearchByAddressModal", true);
			},


        },

        created() {
			this.page = this.$route.name;
			(this.response = false), (this.coverage.utm_source = this.$route.query.utm_source || "");
			this.coverage.utm_medium = this.$route.query.utm_medium || "";
			this.coverage.utm_campaign = this.$route.query.utm_campaign || "";
			this.coverage.utm_content = this.$route.query.utm_content || "";
			this.coverage.gclid = this.$route.query.gclid || "";
		},
    };
</script>
<style lang="scss" scoped>
.modal-box {
    position: fixed;
    left: 50%;
    top: 40%;
    width: 100%;
  	height: 100%;

    height: auto;
    max-height: none;
  	max-width: 288px;
    margin-top: 20px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2000;
    visibility: hidden;
    transition: all 300ms;

		.modal-content {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			position: relative;
			background-color: #FFFFFF;
			background-image: none;
			display: flex;
			justify-content: flex-start;
			border-radius: 5px;

			.modal-block {
				padding: 25px 20px;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				label {
                    background: #FFFFFF;
                }
				.form-control {
                    min-width: 251px;
                    max-width: 251px;
					background: #FFFFFF;
					   &:-webkit-autofill,
							&:-webkit-autofill:hover,
							&:-webkit-autofill:focus,
							&:-webkit-autofill::marker {
								-webkit-text-fill-color: #000;
								-webkit-box-shadow: 0 0 0 30px #ffffff inset;
								transition: background-color 5000s ease-in-out 0s;
						}
				}
                .btn.btn-form {
                    max-width: 251px;
                    min-width: 251px;
                }
				.borders-y {
					border-style: none;
				}
				.modal-title {
					font-size: 1.25rem;
					font-weight: 400;
					line-height: 1.5rem;
					color: #000000;
				}

				.modal-description {
					margin: 10px 0;
					font-size: 0.875rem;
					font-weight: 300;
					line-height: 1.0625rem;
					color: #000000;
				}
				.modal-icon {
					margin-bottom: 0px;
				}
				.modal-call-number { 
					img {
						display: none;
					}
					span {
						font-size: 14px;
					}
					b {
						font-size: 20px;
					}
				}
			}

			.modal-close-button {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				background: #F9F9F9;
				border-radius: 50%;
				border: 1px solid #ECECEC;

				height: 30px;
				width: 30px;
				position: absolute;
				top: 25px;
				right: 20px;
			}
		}
}
.bg-confirmation {
    background-color: #fff;
    background-image: none;
}
.bg-confirmation .modal-block {
    min-width: 100%;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(102,0,153,0.30196) 0% 0% no-repeat padding-box;
  transition: all 0.2s;
}

.scaleup {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.3s;
}

.modal-show .scaleup {
  opacity: 1;
  transform: scale(1);
}

.modal-show {
  visibility: visible;
}

.modal-show ~ .modal-overlay {
  visibility: visible;
  opacity: 1;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .modal-overlay {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
	.modal-box {
		max-width: 50%;
		.modal-content {
			.modal-block {
				height: 100%;
				width: 90%;
				.modal-icon {
					margin-bottom: 33px;
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.modal-title {
					font-size: 1.5rem;
                    line-height: 1.875rem;
				}

				.modal-description {
					margin-top: 13px;
					font-size: 0.875rem;
				}

				.modal-call-number {
					justify-content: center;
					align-items: center;
				}


				.modal-call-number {
					img  {
						height: 30px;
						width: 30px;
					}
					span {
						font-size: 18px;
					}
					b {
						font-size: 30px;
					}
				}
			}
		}
	}
}

@media (min-width: 1280px) {
    .modal-box.modal-result {
        max-width: 639px;
    }
	.modal-box { 
        max-width: 936px;
        .modal-content .modal-block {
            padding: 30px;
            .modal-form {
                flex-direction: row;
                display: flex;
                .form-group {
                    margin: 0;
                    .form-control {
                        max-width: 217px;
                        min-width: 217px;
                        margin: 0 8px 0 0;
                    }
                }
                .btn.btn-form {
                    margin-top: 13px;
                    max-height: 60px;
                    max-width: 189px;
                    min-width: 189px;
                    margin-left: 0px;
                }
            }
        }
    }
}
</style>