<template>
    <div class="product-block">
        <article class="product">
            <div class="flag" v-if="plan.featured">Mais Vendido</div>
            <header class="title-content">
                <div class="block" v-if="hasCoverage">
                    <span>Disponível no CEP</span>
                </div>
                <div class="block">
                    <h2>{{ plan.download_speed }} {{ plan.download_speed_unit }}</h2>
                    <p>+Ilimitado Brasil Empresas</p>
                </div>
                <div class="block">
                    <h3>R$ {{ plan.price }}/mês</h3>
                    <span>No combo válido por 12 meses</span>
                </div>
            </header>
            <section class="text-content">
                <ul>
                    <li>
                        <span class="title">Vivo Protege</span>
                        <span class="subtitle">Empresas até 300GB</span>
                    </li>
                    <li> 
                        <span class="title">Wi-Fi Grátis</span>
                        <span class="subtitle">Com smart Wi-Fi</span>
                    </li>
                    <li>
                        <span class="title">Técnico no local</span>
                        <span class="subtitle">em até 4 horas</span>
                    </li>
                    <li>
                        <span class="title">IP Fixo</span>
                    </li>
                </ul>
            </section>
            <footer>
                <button
                    class="btn btn-form"
                    @click="openCoverageModal(plan)"
                    v-if="displayCoverageButton"
                >
                    Consultar cobertura
                </button>

                <button
                    v-else-if="ecommerceStatus"
                    style="margin-bottom: 5px"
                    class="btn btn-form"
                    @click="redirectToCheckout(plan)"
                >
                    Assinar online
                </button>

                <button
                    :class="{ 'mt-2': !ecommerceStatus }"
                    class="btn btn-form bg-white"
                    @click="handleClickSite"
                    v-if="
                    !isCallCenterDisabled &&
                        hasCoverage &&
                        !timeout &&
                        callCenterPhoneStatus
                    "
                >
                    Falar com consultor
                </button>
            </footer>
        </article>
        <footer class="row product-footer">
            <div class="more-information">
                <Nuxt-link 
                    to=""  
                    @click="openInfo"
                >
                    Mais informações
                </Nuxt-link>                
            </div>
            <div class="share">
                <div class="btn_wrap">
                    <span class="title">
                        <div class="img-block">
                            <img src="~/assets/img/icons/share.svg" alt="Ícone de compartilhamento">    
                        </div>
                        <p>Compartilhar</p>
                    </span>
                    <div class="links">
                        <Nuxt-link to="/face">
                            <img src="~/assets/img/icons/facebook.svg" width="21" height="21" alt="Ícone do facebook">
                        </Nuxt-link>
                        <Nuxt-link to="/whats">
                            <img src="~/assets/img/icons/whatsapp.svg" width="21" height="21" alt="Ícone de whatsapp">
                        </Nuxt-link>
                        <Nuxt-link to="/email">
                            <img src="~/assets/img/icons/email.svg" width="21" height="21" alt="Ícone de e-mail">
                        </Nuxt-link>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
import clickSiteMixins from '@/mixins/clickSite'
import searchFbc from '@/mixins/searchFbc'

export default {
    props: {
        plan: {
            type:Object,
            required: true
        }
    },

    mixins: [clickSiteMixins, searchFbc],

    data() {
        return {
            displayInfo: false,
             price: 0,
            formattedPrice: [],
            isNetflixChecked: false,
            isAmazonChecked: false,
            isDisneyChecked: true,
            isNetflixPremium: false,
            tooltip: false
        }
    },
    computed: {
        callCenterPhoneStatus() {
        return this.$store.state.callcenter.status
        },
        bandwidthType() {
        let bandwidthType = ''

        if (this.plan.download_speed_unit == 'MB') {
            bandwidthType = 'MEGA'
        } else if (this.plan.download_speed_unit == 'GB') {
            bandwidthType = 'GIGA'
        } else {
            if (this.comboInternetPlan.download_speed_unit == 'MB') {
            bandwidthType = 'MEGA'
            } else if (this.comboInternetPlan.download_speed_unit == 'GB') {
            bandwidthType = 'GIGA'
            }
        }

        return bandwidthType
        },

        tvPlan() {
        let tvPlan = {}

        if (this.plan && this.plan.plans.length > 0) {
            let tv = this.plan.plans.filter(plan => {
            return plan.plan_type.slug == 'tv'
            })
            tvPlan = tv.length > 0 ? tv[0] : {}
        }

        return tvPlan
        },

        displayCoverageButton() {
        let display = true
        if (this.$route.query.utm_source == 'SMS') {
            display = false
        } else if (this.hasCoverage) {
            display = false
        }

        return display
        },

        coverageInfo() {
            return this.$store.state.plans.coverage
        },

        icons() {
        let icons = []
        this.plan.plans.map(plan => {
            switch (plan.plan_type.slug) {
            case 'internet':
                icons.push({img:'wifi-white.svg', width:'30',})
                break

            case 'fixo':
                icons.push({img:'fixo-white.svg', width:'23'})
                break

            case 'tv':
                icons.push({img:'tv-icon.svg', width:'24'})
                break

            default:
                break
            }
        })

        return icons
        },

        displayInfoOnMobile() {
        return this.$store.state.cards.displayInfo
        },

        isCallCenterDisabled() {
        return this.$store.state.callcenter.isCallCenterDisabled
        },

        leads() {
        return this.$store.state.leads
        },

        timeout() {
        return this.$store.state.plans.timeout
        },

        hasCoverage() {
        return this.$store.state.plans.hasCoverage
        },

        ecommerceStatus() {
        return this.$store.state.ecommerce.status
        },

        netflixDefaultId() {
        return this.$store.state.plans.netflixDefaultId
        },
        disney() {
        return this.$store.state.plans.disney
        },

        netflixPremiumId() {
        return this.$store.state.plans.netflixPremiumId
        },

        amazonId() {
        return this.$store.state.plans.amazonId
        },
        
    },

    mounted() {
        this.price = this.plan.price
        this.formattedPrice = this.returnFormattedPrice(this.plan.price)
    },

    created() {
        if (this.plan.download_speed == 25 || this.plan.download_speed == 15) {
        this.isNetflixChecked = true
        this.recalculatePrice('netflixDefault')
        }

        if (this.type === 'netflix') {
        this.recalculatePrice('netflixDefault')
        }

        if (this.type === 'disney') {
        this.recalculatePrice('disney')
        }
    },

    methods: {
        openInfo() {
            this.$store.commit('modals/openInfoCardModal')
        },
        queryUrl(plan) {
        let query = ``

        if (this.coverageInfo.postal_code && this.coverageInfo.number) {
            query = `?postal_code=${this.coverageInfo.postal_code}&addr_number=${this.coverageInfo.number}&phone_number=${this.coverageInfo.phone_number}&prod=${plan.id}`

            if (Object.keys(this.$route.query).length > 0) {
            for (let property in this.$route.query) {
                query += `&${property}=${this.$route.query[property]}`
            }
            }
            
        } else if (this.$route.query.utm_source == 'SMS') {
            if (Object.keys(this.$route.query).length > 0) {
            for (let property in this.$route.query) {
                query +=
                query == ''
                    ? `?${property}=${this.$route.query[property]}`
                    : `&${property}=${this.$route.query[property]}`
            }
            }
        }

        if (this.leads.lead_id) {
            query += `&lead_id=${this.leads.lead_id}`
        }

        if (this.type === 'netflix') {
            query += `&netflix=${this.netflixIdSelected}`
        } else {
            if (this.isNetflixChecked && this.netflixDefaultId) {
            query += `&netflix=${this.netflixDefaultId}`
            }

            if (this.isAmazonChecked && this.amazonId) {
            query += `&amazon=${this.amazonId}`
            }
        }

        if (this.type == 'disney') {
            query += `&disney=${483}`
        }

        if(this.searchFbcInCookies.hasOwnProperty('_fbc') && this.searchFbcInCookies._fbc !== null) {
            query += `&fbc=${this.searchFbcInCookies._fbc}`
        }

        return query
        },

        openCoverageModal(planId) {
        if (this.type === 'netflix') {
            this.$store.commit('plans/setTypeNetflix', true)
            this.$store.commit(
            'plans/setNetflixPlanSelected',
            this.netflixIdSelected
            )
        } else {
            this.$store.commit('plans/setTypeNetflix', false)
        }

        this.$store.commit('cards/setIdToCheckCoverage', planId)
        this.$store.commit('modals/openCoverageModal')
        },

        toggleInfo() {
        if (window.matchMedia('(max-width: 768px)').matches) {
            this.$store.commit('cards/setDisplayInfo')
        } else {
            this.displayInfo = !this.displayInfo
        }
        },

        planName() {
        let name = ''

        if (this.plan.combo_types === 'Internet + Fixo' ||
            this.plan.combo_types === 'Internet + Fixo + TV') 
        {
            let fixo = this.plan.plans.filter(
                prop => prop.plan_type.slug === 'fixo'
            )
            name = fixo[0].short_description
        } else if (this.plan.combo_types === 'Internet + TV') {
            let tv = this.plan.plans.filter(prop => prop.plan_type.slug === 'tv')
            name = tv[0].short_description
        }

        return name
        },

        openChannelsModal() {
            this.$store.commit('channels/setPlanName', this.tvPlan.short_description)
            this.$store.commit('channels/setChannels', this.tvPlan.channels)
            this.$store.commit('modals/openChannelsModal')
        },

        async redirectToCheckout(plan) {
            window.open(
                `https://checkout.planosvivointernet.com.br/${this.queryUrl(plan)}`,
                '_self'
            )
        },


        openAppInfo(app) {
        let application = {}

        if (app !== 'home-assist') {
            this.applications.map(appItem => {
            if (appItem.slug === app.slug) {
                application = {
                ...appItem,
                ...app,
                icon: this.returnAppLogo(app.slug)
                }
            }
            })

            this.$store.commit('applications/setApplication', application)
        }

        this.$store.commit('modals/openApplicationModal')
        },

        returnAppLogo(slug) {
        let logo = ''
        switch (slug) {
            case 'bancah':
            logo = 'icon_bancah-big.png'
            break

            // case 'disckids':
            //   logo = 'icon_discKids-big.png'
            //   break

            case 'revistas':
            logo = 'icon_revistas-big.svg'
            break

            // case 'espn':
            //   logo = 'icon_espn-big.svg'
            //   break

            case 'esporte-interativo':
            logo = 'icon_esportePlus-big.svg'
            break

            // case 'fox':
            //   logo = 'icon_fox-big.png'
            //   break

            default:
            break
        }
        return logo
        },

        async handleClickSite() {
        await this.callToCustomer('now')
        this.$gtm.push({ event: 'solicitouLigacaoProduto' })
        this.$store.commit('modals/openConfirmationModal')
        },

        shouldDisplayAlacarte() {
        let elegibleSpeeds = [15, 25, 50, 100, 200, 300]

        return elegibleSpeeds.includes(this.planSpeed())
        },

        recalculatePrice(alacarte) {
        let prices = {
            netflixDefault: {
            '15': 30.0,
            '25': 30.0,
            '50': 30.0,
            '100': 20.0,
            '200': 20.0,
            '300': 10.0,
            '600': 10.0
            },
            netflixPremium: {
            '15': 43.0,
            '25': 43.0,
            '50': 43.0,
            '100': 33.0,
            '200': 33.0,
            '300': 23.0,
            '600': 23.0
            },
            disney: {
            '50': 25.0,
            '100': 15.0,
            '200': 15.0,
            '300': 10.0,
            '600': 10.0
            },
            amazon: 10.0
        }

        /**
         * use setTimeout to wait Vue
         * change isNetflixChecked value
         */
        let k = this
        setTimeout(() => {
            if (this.type === 'netflix') {
            let price = this.price + prices[alacarte][this.planSpeed()]
            this.formattedPrice = this.returnFormattedPrice(price)
            } else {
            if (alacarte === 'netflixDefault') {
                if (this.isNetflixChecked) {
                let price = this.price + prices[alacarte][this.planSpeed()]
                this.price = price
                this.formattedPrice = this.returnFormattedPrice(price)
                } else {
                let price = this.price - prices[alacarte][this.planSpeed()]
                this.price = price
                this.formattedPrice = this.returnFormattedPrice(price)
                }
            } else if (alacarte === 'amazon') {
                if (this.isAmazonChecked) {
                let price = this.price + prices[alacarte]
                this.price = price
                this.formattedPrice = this.returnFormattedPrice(price)
                } else {
                let price = this.price - prices[alacarte]
                this.price = price
                this.formattedPrice = this.returnFormattedPrice(price)
                }
            } else if (alacarte === 'disney') {
                if (this.isDisneyChecked) {
                let price = this.price + prices[alacarte][this.planSpeed()]
                this.price = price
                this.formattedPrice = this.returnFormattedPrice(price)
                } else {
                let price = this.price - prices[alacarte][this.planSpeed()]
                this.price = price
                this.formattedPrice = this.returnFormattedPrice(price)
                }
            }
            }
        }, 1)
        },

        planSpeed() {
        return this.plan.tasting && this.plan.tasting !== 0
            ? this.plan.tasting
            : this.plan.download_speed
        },

        returnFormattedPrice(price) {
        let fullPrice = price.toFixed(2)
        return fullPrice.toString().split('.')
        },

        returnExtendedUnit(unit) {
        switch (unit) {
            case 'MB':
            return 'MEGA'
            break

            case 'GB':
            return 'GIGA'
            break

            default:
            return unit
            break
        }
        },

        copyToClipboard() {
        const copyText = document.getElementsByClassName('toClipboardText')[0]

        copyText.select()
        copyText.setSelectionRange(0, 99999)

        document.execCommand('copy')
        }
    }
}
</script>
<style lang="scss">
    .btn.btn-form.bg-white {
        background: #FFFFFF;
        border: 1px solid #CCCCCC;

        &:hover {
            filter: brightness(0.95);
        }
    }
    /*--- Share ---*/
    .btn_wrap {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        overflow: hidden;
        cursor: pointer;
        width: 144px;
        height: 49px;
        background-color: #CFCFCF;
        border: 2px solid #CFCFCF;
        border-radius: 5px;
        will-change: transform;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        z-index: 6;
        
        .title { 
            position: absolute;
            z-index: 2;
            display: flex;
            align-items: center;
             width: 144px;
            height: 49px;
            border-radius: 5px;
            
            z-index: 3;
            p {
                font-size: 0.875rem;
                line-height: 1rem;
                height: 49px;
                width: 104px;
                background-color: #FFFFFF;
                color: #000000;
                display: flex;
                align-items: center;
               -webkit-transition: all 1.2s ease;
                transition: all 1.2s ease;
                z-index: 2;
            }
            .img-block {
                background: #FFF;
                height: 49px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: flex-start;
                z-index: 3;
                img {
                    transition: 3s ease-in;
                }
            }
        }
        .links {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-evenly;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 144px;
            height: 49px;
            border-radius: 5px;
            margin-left: 2rem;

            a {
                opacity: 0;        
                padding:0;                
                will-change: transform;
                -webkit-transform: scale(.1);
                        transform: scale(.1);
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }
            a:nth-of-type(1) {
                -webkit-transition-delay: 1.1s;
                transition-delay: 1.1s;
            }
            a:nth-of-type(2) {
                -webkit-transition-delay: .9s;
                transition-delay: .9s;
            }
            a:nth-of-type(3) {
                -webkit-transition-delay: .7s;
                transition-delay: .7s;
            }
            a:nth-of-type(4) {
                transition-delay: .4s;
                -webkit-transition-delay: .4s;
            }
            &:hover img{
                filter: brightness(1.75);
            }
        }

        &:hover .title p {
            -webkit-transition-delay: .25s;
            transition-delay: .25s;
            -webkit-transform: translateX(-140px);
            transform: translateX(-140px)
        }

        &:hover .links a {
            z-index: 5;
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
   
    .flag {
        width: 117px;
        height: 31px;
        position: absolute;
        top: -0.969rem;
        right: -1px;

        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.125rem;
        color: #FFFFFF;
        background-color: #660099;
        border-radius: 5px 5px 0 5px;
        opacity: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .product {
        position: relative;
        border: 1px solid #CCCCCC;
        display: flex;
        flex-direction: column;
        align-self: stretch;

        border-radius: 5px;
        width: 269px;
        max-width: 269px;
        margin: 2rem auto 1rem auto;
        .title-content {
            padding: 0rem 1rem;
            background-color: #F7F7F7;
            .block {
                margin: 0.875rem 0;
            
                h2, h3 {
                    font-size: 1.375rem;
                    font-weight: 400;
                    line-height: 1.875rem;
                }
                p {
                    font-size: 1rem;
                    font-weight: 300;                    
                    line-height: 1.375rem;
                }
                span {
                    font-size: 0.875rem;
                    font-weight: 300;     
                    line-height: 1.375rem;
                }
            }
        }
        .text-content {
            padding: 0.625rem 1rem;
            ul {
                list-style: none;
                padding: 0;
                li {
                    margin: 5px 0;
                    .title {
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.375rem;
                        display: block;
                    }
                    .subtitle {
                        font-size: 0.875rem;
                        font-weight: 300;
                        line-height: 1.375rem;
                    }
                }

            }
        }
        footer {
            padding: 0.625rem 1rem;
            .btn.btn-form {
                margin: 0;
                min-width: 100%;
                font-size: 1rem;
                line-height: 1.188rem;
            }
        }
    }
    .product-footer {
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: #000000;
        }
        .more-information a{
            border-bottom: 0;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375rem;
            padding-bottom: 3px;

            &:hover {
                color: #1f1616;
                border-bottom: 1px solid #1f1616;
            }
        }
        .share button {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375rem;

            border: 1px solid #CFCFCF;
            border-radius: 5px;
            background: transparent;
            padding: 0.875rem 1.375rem;
            text-align: center;
            max-width: 144px;
            cursor: pointer;

            &:hover {
                border: 1px solid #b9b9b9;
            }
        }
    }

    @media (min-width: 1024px) {
         .flag {
            width: 147px;
            height: 44px;
            top: -1.375rem;
            font-size: 0.938rem;
            font-weight: 400;
            line-height: 1.438rem;
        }
        .product {
            width: 300px;
            max-width: 300px;

            .title-content {
                padding: 1rem 1.25rem;
                background-color: #F7F7F7;
                .block {
                    h2, h3 {
                        font-size: 1.6875rem;
                        line-height: 2.3125rem;
                    }
                    p {
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                    }
                    span {
                        font-size: 1rem;
                        line-height: 1.6875rem;
                    }
                }
            }
            .text-content {
                padding: 1rem 1.25rem;
                ul {
                    li {
                        .title {
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                            display: block;
                        }
                        .subtitle {
                            font-size: 1rem;
                            line-height: 1.6875rem;
                        }
                    }

                }
            }
            footer {
                padding: 0 1.25rem 1rem;
            }
        }
        .product-footer {
            .more-information a{
                font-size: 1rem;
                line-height: 1.688rem;
                border-bottom: 1px solid #1f1616;
            }
            .share button {
                font-size: 1rem;
                line-height: 1.688rem;
            }
        }
    }
    @media (min-width: 1440px) {
        .product {
            width: 330px;
            max-width: 330px;
        }
    }
</style>