<template>
    <div class="product-block">
        <article class="product">
            <div class="flag" v-if="product.featured">Mais Vendido</div>
            <header class="title-content">
                <div class="block">
                    <h2>{{ product.download_speed }} {{ product.download_speed_unit }}</h2>
                    <p>+Ilimitado Brasil Empresas</p>
                </div>
                <div class="block">
                    <h3>R$ {{ product.price }}/mês</h3>
                    <h3>R$ {{ product.price }}/mês</h3>
                    <span>No combo válido por 12 meses</span>
                </div>
            </header>
            <section class="text-content">
                <ul>
                    <li>
                        <span class="title">Vivo Protege</span>
                        <span class="subtitle">Empresas até 300GB</span>
                    </li>
                    <li> 
                        <span class="title">Wi-Fi Grátis</span>
                        <span class="subtitle">Com smart Wi-Fi</span>
                    </li>
                    <li>
                        <span class="title">Técnico no local</span>
                        <span class="subtitle">em até 4 horas</span>
                    </li>
                    <li>
                        <span class="title">IP Fixo</span>
                    </li>
                </ul>
            </section>
            <footer>
                <button 
                    class="btn btn-form"
                    @click="assingPlan"
                >
                    Assine já
                </button>
            </footer>
        </article>
        <footer class="row product-footer">
            <div class="more-information">
                <Nuxt-link to="">Mais informações</Nuxt-link>
            </div>
            <div class="share">
                <div class="btn_wrap">
                    <span class="title">
                        <div class="img-block">
                            <img src="~/assets/img/icons/share.svg" alt="Ícone de compartilhamento">    
                        </div>
                        <p>Compartilhar</p>
                    </span>
                    <div class="links">
                        <Nuxt-link to="/face">
                            <img src="~/assets/img/icons/facebook.svg" width="21" height="21" alt="Ícone do facebook">
                        </Nuxt-link>
                        <Nuxt-link to="/whats">
                            <img src="~/assets/img/icons/whatsapp.svg" width="21" height="21" alt="Ícone de whatsapp">
                        </Nuxt-link>
                        <Nuxt-link to="/email">
                            <img src="~/assets/img/icons/email.svg" width="21" height="21" alt="Ícone de e-mail">
                        </Nuxt-link>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</template>

<script>
export default {
    props: {
        product: {
            type:Object,
            required: true
        }
    },
    computed: {
        bandwidthType() {
            let bandwidthType = ''

            if (this.plan.download_speed_unit == 'MB') {
                bandwidthType = 'MEGA'
            } else if (this.plan.download_speed_unit == 'GB') {
                bandwidthType = 'GIGA'
            } else {
                if (this.comboInternetPlan.download_speed_unit == 'MB') {
                    bandwidthType = 'MEGA'
                } else if (this.comboInternetPlan.download_speed_unit == 'GB') {
                    bandwidthType = 'GIGA'
                }
            }
            return bandwidthType
        },
        price() {
            let fullPrice = this.plan.price.toFixed(2)
            return fullPrice.toString().split('.')
        },
        comboInternetPlan() {
            if (this.plan.plans) {
                return this.plan.plans.find(plan => {
                return plan.plan_type.slug === 'internet'
                })
            } else {
                return this.plan
            }
        },
        features() {
            let apps = this.plan.applications

            return apps
        },
        coverageInfo() {
            return this.$store.state.plans.coverage
        },

        isCallCenterDisabled() {
            return this.$store.state.callcenter.isCallCenterDisabled
        },

        displayAssingButton() {
            let display = true
            if (this.$route.query.utm_source == 'SMS') {
                display = false
            } else if (this.coverageInfo.number && this.coverageInfo.postal_code) {
                display = false
            }
            return display
        }
    },
    methods: {
        openChannelsModal(plan) {
            this.$store.commit('channels/setPlanName', plan.short_description)
            this.$store.commit('channels/setChannels', plan.channels)
            this.$store.commit('modals/openChannelsModal')
        },
        assingPlan() {
            this.$store.commit('modals/openCoverageModal')
        },

        receiveCall() {
            this.$store.commit('modals/setOnlyNumber')
            this.$store.commit('modals/openCoverageModal')
        },
    },
}
</script>
<style lang="scss">
    .btn_wrap {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        overflow: hidden;
        cursor: pointer;
        width: 144px;
        height: 49px;
        background-color: #CFCFCF;
        border: 2px solid #CFCFCF;
        border-radius: 5px;
        will-change: transform;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        z-index: 6;
        
        .title { 
            position: absolute;
            z-index: 2;
            display: flex;
            align-items: center;
             width: 144px;
            height: 49px;
            border-radius: 5px;
            
            z-index: 3;
            p {
                font-size: 0.875rem;
                line-height: 1rem;
                height: 49px;
                width: 104px;
                background-color: #FFFFFF;
                color: #000000;
                display: flex;
                align-items: center;
               -webkit-transition: all 1.2s ease;
                transition: all 1.2s ease;
                z-index: 2;
            }
            .img-block {
                background: #FFF;
                height: 49px;
                width: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: flex-start;
                z-index: 3;
                img {
                    transition: 3s ease-in;
                }
            }
        }
        .links {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
                justify-content: space-evenly;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 144px;
            height: 49px;
            border-radius: 5px;
            margin-left: 2rem;

            a {
                opacity: 0;        
                padding:0;                
                will-change: transform;
                -webkit-transform: scale(.1);
                        transform: scale(.1);
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }
            a:nth-of-type(1) {
                -webkit-transition-delay: 1.1s;
                transition-delay: 1.1s;
            }
            a:nth-of-type(2) {
                -webkit-transition-delay: .9s;
                transition-delay: .9s;
            }
            a:nth-of-type(3) {
                -webkit-transition-delay: .7s;
                transition-delay: .7s;
            }
            a:nth-of-type(4) {
                transition-delay: .4s;
                -webkit-transition-delay: .4s;
            }
            &:hover img{
                filter: brightness(1.75);
            }
        }

        &:hover .title p {
            -webkit-transition-delay: .25s;
            transition-delay: .25s;
            -webkit-transform: translateX(-140px);
            transform: translateX(-140px)
        }

        &:hover .links a {
            z-index: 5;
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    }
    /*--- Share ---*/
    .flag {
        width: 117px;
        height: 31px;
        position: absolute;
        top: -0.969rem;
        right: -1px;

        font-size: 0.75rem;
        font-weight: 400;
        line-height: 1.125rem;
        color: #FFFFFF;
        background-color: #660099;
        border-radius: 5px 5px 0 5px;
        opacity: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .product {
        position: relative;
        border: 1px solid #CCCCCC;
        display: flex;
        flex-direction: column;
        align-self: stretch;

        border-radius: 5px;
        width: 269px;
        max-width: 269px;
        margin: 2rem auto 1rem auto;
        .title-content {
            padding: 0rem 1rem;
            background-color: #F7F7F7;
            .block {
                margin: 0.875rem 0;
            
                h2, h3 {
                    font-size: 1.375rem;
                    font-weight: 400;
                    line-height: 1.875rem;
                }
                p {
                    font-size: 1rem;
                    font-weight: 300;                    
                    line-height: 1.375rem;
                }
                span {
                    font-size: 0.875rem;
                    font-weight: 300;     
                    line-height: 1.375rem;
                }
            }
        }
        .text-content {
            padding: 0.625rem 1rem;
            ul {
                list-style: none;
                padding: 0;
                li {
                    margin: 5px 0;
                    .title {
                        font-size: 1rem;
                        font-weight: 400;
                        line-height: 1.375rem;
                        display: block;
                    }
                    .subtitle {
                        font-size: 0.875rem;
                        font-weight: 300;
                        line-height: 1.375rem;
                    }
                }

            }
        }
        footer {
            padding: 0.625rem 1rem;
            .btn.btn-form {
                margin: 0;
                min-width: 100%;
                font-size: 1rem;
                line-height: 1.188rem;
            }
        }
    }
    .product-footer {
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: #000000;
        }
        .more-information a{
            border-bottom: 0;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375rem;
            padding-bottom: 3px;

            &:hover {
                color: #1f1616;
                border-bottom: 1px solid #1f1616;
            }
        }
        .share button {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.375rem;

            border: 1px solid #CFCFCF;
            border-radius: 5px;
            background: transparent;
            padding: 0.875rem 1.375rem;
            text-align: center;
            max-width: 144px;
            cursor: pointer;

            &:hover {
                border: 1px solid #b9b9b9;
            }
        }
    }

    @media (min-width: 1024px) {
         .flag {
            width: 147px;
            height: 44px;
            top: -1.375rem;
            font-size: 0.938rem;
            font-weight: 400;
            line-height: 1.438rem;
        }
        .product {
            width: 300px;
            max-width: 300px;

            .title-content {
                padding: 1rem 1.25rem;
                background-color: #F7F7F7;
                .block {
                    h2, h3 {
                        font-size: 1.6875rem;
                        line-height: 2.3125rem;
                    }
                    p {
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                    }
                    span {
                        font-size: 1rem;
                        line-height: 1.6875rem;
                    }
                }
            }
            .text-content {
                padding: 1rem 1.25rem;
                ul {
                    li {
                        .title {
                            font-size: 1.25rem;
                            line-height: 1.75rem;
                            display: block;
                        }
                        .subtitle {
                            font-size: 1rem;
                            line-height: 1.6875rem;
                        }
                    }

                }
            }
            footer {
                padding: 0 1.25rem 1rem;
            }
        }
        .product-footer {
            .more-information a{
                font-size: 1rem;
                line-height: 1.688rem;
                border-bottom: 1px solid #1f1616;
            }
            .share button {
                font-size: 1rem;
                line-height: 1.688rem;
            }
        }
    }
    @media (min-width: 1440px) {
        .product {
            width: 330px;
            max-width: 330px;
        }
    }
</style>