<template>
  <section class="questions">
        <article
            v-for="(info, index) in list"
            :key="info.id"
            v-bind:class="info.active ? 'accordion-active' : ''"
            itemscope
            itemprop="mainEntity"
            itemtype="https://schema.org/Question"
            @click="expand(index, info)"
        >
          <h3>
            <span class="title" itemprop="name">{{ info.question }}</span>
            <span class="arrow">
              <img src="~/assets/img/icons/arrow.svg" width="15" height="15" alt="Ícone de seta" />
            </span>
          </h3>
          <span
            class="accordion-body"
            v-bind:ref="'accordion-body-' + index"
            v-html="info.answer"
            itemscope
            itemprop="acceptedAnswer"
            itemtype="https://schema.org/Answer"
          ></span>
        </article>
  </section>
</template>

<script>
export default {
  props: {
    infos: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      list: [],
      structuredData: {
        "@context": "http://schema.org",
        "@type": "FAQPage",
        mainEntity: [],
      },
    };
  },

  head() {
    return {
      script: [{ type: "application/ld+json", json: this.structuredData }],
    };
  },

  created() {
    this.list = [...this.infos];

    let questions = [];

    this.list.map((item) => {
      let i = {
        "@type": "Question",
        name: item.question,
        acceptedAnswer: {
          "@type": "Answer",
          text: item.answer,
        },
      };

      questions.push(i);
    });

    this.structuredData.mainEntity = questions;
  },

  methods: {
    expand(index, info) {
      let infoS = {...info}
      // let k = [...this];

      if (infoS.active) {
        infoS.active = false;
      } else {
        this.list.map(item => {
          item.active = false;
        });
     

        infoS.active = true;
      }
     
      this.list[index] = infoS;
 
       this.$forceUpdate();
    },
  },
};
</script>

<style scoped lang="scss">
.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  
    article {
        max-width: 100%;
        padding: 18px 12px 0px 12px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        margin-bottom: 1.125rem;
        cursor: pointer;
        h3 {
          display: flex;
          align-items: center;
          justify-content: space-between;

          width: 100%;
          height: 100%;

          font-size: 1rem;
          font-weight: 400;
          line-height: 1.188rem;

          .title {
            padding-right: 0.875rem;
          }
          .arrow {
            margin-right: 0.875rem;
            display: flex;
            align-items: center;
          }
        }
      .accordion-body {
        max-height: 0;
        overflow: hidden;
        display: flex;
        width: 100%;
        padding-bottom: 0;
        height: auto;
        margin-top: 20px;
        overflow: hidden;
        transition-property: all;
        transition-duration: 0.3s;
        flex-direction: column;
      }
    }

    .accordion-active {
      .arrow {
        transition-property: transform;
        transition-duration: 0s;
        transform: rotate(180deg);
      }
      .accordion-body {
        max-height: 1000px;
        padding-bottom: 1.5rem;
      }
    }
}

@media (min-width: 767px) {
    .questions {
        justify-content: center;
        article{
            min-width: 688px;
            min-height: 70px;
            padding: 25px 20px 5px 20px;
            h3 {
                font-size: 1.25rem;
                line-height: 1.5rem;

                .title {
                    padding-right: 2.188rem;
                }
            }
             .accordion-body {
                max-width: 650px;
            }
        }
    }
}
@media (min-width: 1028px) {
  .questions {
        justify-content: space-between;
         article{
            min-width: 588px;
         }
    }
}
@media (min-width: 1028px) {
  .questions {
    article{
      min-width: 688px;
    }
  }
}
</style>
