<template>
  <div id="wanted-modal">
    <div class="modal-box" :class="displayModal ? 'modal-show' : ''">
      <div class="modal-content bg-white scaleup h-screen">
        <div class="modal-close-button" @click="onClose">
          <!-- <img src="@/assets/img/icons/error.svg" alt="Icone do botão de fechar" /> -->
        </div>

        <div class="roboto-regular w-full" v-if="addresses.length === 0">
          <p class="modal-title">Digite o seu endereço</p>
          <p class="modal-description">Não utilize n° de casa/apto/lote/prédio ou abreviação</p>

          <form @submit.prevent="handleSubmit" class="modal-form mt-4">
            <div class="row">
              <div class="w-full">
                <input
                  v-model="wantedAddress"
                  placeholder="Informe o seu endereço"
                  type="text"
                  name="address"
                  class="input-modal border-2 border-gray-300"
                  required
                />
                <span v-if="hasNoAddress">
                  <small class="text-red-400">Nenhum endereço encontrado</small>
                </span>
              </div>

              <div class="w-full flex justify-center mt-2">
                <button
                  style="min-height: 49px"
                  class="btn btn-md btn-rounded text-white roboto-regular bg-green hover:bg-green-100"
                  :class="{'flex justify-center items-center': isSearchingAddress}"
                  :disabled="isSearchingAddress"
                >
                  <div class="flex items-center justify-center" v-if="!isSearchingAddress">Consultar</div>
                </button>
              </div>
            </div>
          </form>
        </div>

        <div class="roboto-regular w-full" v-else>
          <p class="modal-title mb-2">Selecione o seu endereço</p>

          <div class="addresses-container">
            <label
              v-for="(address, index) in addresses"
              :key="`address-${index}`"
              class="address-option"
            >
              <input type="radio" name="radio" :value="address" v-model="selectedAddress" />
              <div>
                <p>
                  <b>{{address.log_no_abrev}}</b>
                </p>
                <p>
                  <b>{{address.district.bai_no_abrev}}</b>
                </p>
                <p>{{address.city.name}}</p>
              </div>
            </label>
          </div>

          <div class="w-full justify-center flex">
            <button
              @click="setPostalCode"
              style="min-height: 49px"
              class="btn btn-md btn-rounded text-white roboto-regular bg-green hover:bg-green-100"
            >Continuar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- overlay -->
    <div class="modal-overlay" @click="onClose" />
  </div>
</template>

<script>
export default {
 
  computed: {
    displayModal() {
      return this.$store.state.modals.displaySearchByAddressModal
    }
  },

  data() {
    return {
      hasNoAddress: false,
      isSearchingAddress: false,
      wantedAddress: '',
      addresses: [],
      selectedAddress: {}
    }
  },

  methods: {
    onClose() {
      this.wantedAddress = ''
      this.selectedAddress = {}
      this.addresses = []
      this.hasNoAddress = false

      this.$store.commit('modals/setSearchByAddressModal', false)
    },

    async handleSubmit() {
      this.isSearchingAddress = true
      this.addresses = await this.$axios.$get(
        `/location/by-address?address=${this.wantedAddress}`
      )
      this.isSearchingAddress = false

      if (this.addresses.length === 0) {
        this.hasNoAddress = true
      }
    },

    setPostalCode() {
      const { cep } = this.selectedAddress
      this.$store.commit('plans/setCoverage', {
        postal_code: cep
      })

      this.onClose()
    }
  }
}
</script>

<style lang="scss">

</style>