<template>
    <section class="bg-speaknow">
        <div class="container">
            <section class="speaknow" :style="bannerHome">
                <header>
                    <p class="subtitle">Central de vendas</p>
                    <h3 class="title">Fale agora com um de nossos consultores</h3>
                    <p class="info">E encontre as melhores soluções para o seu negócio</p>
                </header>
                <footer class="receive-call">
                    <form  @submit.prevent="onSubmit" class="row">
                        <div class="form-group">
                            <the-mask 
                                type="tel" 
                                :mask="['(##) ####-####', '(##) #####-####']"
                                class="form-control" 
                                :class="{ invalid: !phoneValid }"
                                placeholder=" " 
                                id="cel"   
                                name="tel"
                                 v-model="telefone"
                                required
                            />
                            <label for="cel">Digite seu telefone</label>
                            <span v-if="!phoneValid">
                                <small class="invalid-message"></small>
                            </span>
                            
                        </div>

                        <button class="btn btn-form">Receber ligação grátis</button>
                    </form>
                </footer>
            </section>
        </div>
    </section>
</template>

<script>
import phoneMixins from '@/mixins/phones'
import clickSiteMixins from '@/mixins/clickSite'

export default {
    mixins: [phoneMixins, clickSiteMixins],
    data() {
        return {
            isLoading: false,
            phoneValid: true,
            response: false,
            telefone: '',
            page: ''
        }
    },

    computed: {
        bannerHome() {
            let background = "";
            return background += `background-image: url(/receive-call.png);`
        },
         getForms(){
            return this.$store.getters['forms/getForms']
        },
        isCallCenterDisabled() {
            return this.$store.state.callcenter.isCallCenterDisabled
        },
        callCenterStatus() {
            return this.$store.state.callcenter.status
        },
        callCenterPhone() {
            return this.$store.state.callcenter.phone_number
        },
        leads() {
            return this.$store.state.leads
        },
        coverageInfo() {
            return this.$store.state.plans.coverage
        },
    },
    
    methods: {
        async onSubmit() {
            if (!this.isCallCenterDisabled) {
                let isPhoneValid = false

                if (this.hasInvalidDigits(this.telefone)) {
                    return (this.phoneValid = isPhoneValid)

                } else {
                    isPhoneValid = await this.isPhoneValid(this.telefone)
                    this.phoneValid = isPhoneValid
                }

                if (this.telefone.length >= 10 && this.phoneValid) {
                     this.$store.commit('plans/setCoverage', {
                        phone_number: this.telefone
                    })
                    await this.callToCustomer('now')
                    if(process.browser){
                        dataLayer.push({ 'event': 'solicitouLigacaoRegua' })
                    }

                    this.response = true
                    let k = this

                    setTimeout(function() { k.response = false }, 6000) 
                    this.$store.commit('modals/openConfirmationModal')
                }

                this.isLoading = false
            }
        }
    },
    
    created() {
        this.page = this.$route.name
    },

    mounted() {
        this.$nextTick(() => {
            this.telefone = this.coverageInfo.phone_number
        })
    },
}
</script>
<style lang="scss">
.bg-speaknow {
    background: #2A3376;
}

.speaknow {
    margin: 2rem 0;
    padding: 1.5rem 0;
    min-height: 288px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
        color: #FFFFFF;
        font-size: 1.375rem;
        font-weight: 400;
        line-height: 1.625rem;
        margin-bottom: 0.625rem;
        max-width: 390px;
    }
    .subtitle {
        color: #FFFFFF;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.188rem;
        margin-bottom: 0.438rem;
    }
    .info {
        color: #FFFFFF;    
        font-size: 0.875rem;
        font-weight: 300;
        line-height: 1.063rem;
        max-width: 401px;
        margin: 4px 0;
    }
    .receive-call {
        .row {
            flex-direction: column;
        }
        .form-group {
            position: relative;
            padding-top: 13px;
            width: 100%;
            .invalid {
                border-color: red;
            }
            .invalid-message {
                position: absolute;
                border: 1px solid #FFFFFF;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                right: 15px;
                top: calc(50% - 8px);
            }
            .form-control  {
                color: #FFFFFF;
                border: 1px solid #CCCCCC;
                border-radius: 5px;
                outline: none;
                max-width: 100%;
                min-width: initial;
                width: 100%;
                min-height: 51px;

                display: block;
                padding: 15px;
                font-size: 1rem;

                transition: all .1s linear;
                -webkit-transition: all .1s linear;
                -moz-transition: all .1s linear;
                -webkit-appearance:none;
                background-color: transparent;

                 &:-webkit-autofill,
                 &:-webkit-autofill:hover,
                 &:-webkit-autofill:focus,
                 &:-webkit-autofill::marker {
                    -webkit-text-fill-color: #FFFFFF;
                    -webkit-box-shadow: 0 0 0 30px #2A3376 inset;
                    transition: background-color 5000s ease-in-out 0s;
                }
            }

            .form-control:focus {
                border: 1.5px solid #FFFFFF;
            }

            label {
                color: #FFFFFF;
                pointer-events: none;
                position: absolute;
                top: calc(50% - 8px);
                left: 15px;
                transition: all .1s linear;
                -webkit-transition: all .1s linear;
                -moz-transition: all .1s linear;
                background-color: #2A3376;
                padding: 5px;
                box-sizing: border-box;
            }

            .form-control:focus + label,
            .form-control:not(:placeholder-shown) + label {
                font-size: 13px;
                top: 0;
                color: #FFFFFF;
            }
        }
    }
    .btn.btn-form {
        margin-top: 0.438rem;
        width: 100%;
        min-height: 51px;
        min-width: initial;
        text-align: center;
        color: #2A3376;
        
        background-color: #FFFFFF;
        border: none;
        border-radius: 5px;
        
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        cursor: pointer;
        transition: background .3s ease-in;
        &:hover {
            background-color: #e6e6e6;
        }
    }
}

@media (min-width: 768px) {
    .speaknow {
        background-size: cover;
        background-position: center;
        .receive-call {
            .row {
                align-items: flex-start;
            }
            .form-group .form-control {
                max-width: 300px;
            }
        }
        .btn.btn-form {
            max-width: 300px;
        }
    }
}
@media (min-width: 1028px) {
    .bg-speaknow {
        background: transparent;
    }
    .speaknow {
        margin: 4rem 0;
        min-height: 338px;
        width: 100%;
        padding-left: 3.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        .title {
            font-size: 1.8125rem;
            line-height: 2.25rem;
            margin-bottom: 0.625rem;
            max-width: 390px;
        }
        .subtitle {
            font-size: 1.25rem;
            line-height: 1.5rem;
            margin-bottom: 0.75rem;
        }
        .info {
            font-size: 1rem;
            line-height: 1.25rem;
            max-width: 401px;
            margin: 0.813rem 0;
        }
        .receive-call {
            .row {
                flex-direction: row;
                align-items: center;
            }
            .form-group {
                max-width: 220px;
                .form-control  {
                    min-width: 216px;
                    max-width: 217px;
                    min-height: 60px;
                    background-color: transparent;
                }

                .form-control:focus + label,
                .form-control:not(:placeholder-shown) + label {
                    font-size: 13px;
                    top: 0;
                    color: #FFFFFF;
                }
            }
        }

        .btn.btn-form {
            margin-top: 0;
            margin-left: 0.625rem;
            max-width: 229px;
            min-height: 60px;
            text-align: center;
            color: #2A3376;
            
            background-color: #FFFFFF;
            border: none;
            border-radius: 5px;
            
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            cursor: pointer;
            transition: background .3s ease-in;
            &:hover {
                background-color: #e6e6e6;
            }
        }
    }
}

</style>