<template>
  <div id="success-coverage-modal">
    <div class="modal-box" :class="displayModal ? 'modal-show' : ''">
      <div class="modal-content scaleup h-screen">
        <div class="modal-close-button" @click="onClose()">
          <img src="@/assets/img/icons/close.svg" alt="Icone do botão de fechar">
        </div>
        <div class="modal-block">
          <div class="modal-body">
            <h2 class="modal-title">{{ textoReal[0] }}</h2>
            <p class="modal-description">{{ textoReal[1] }}</p>
            <div class="row">
              <button
                v-if="ecommerceStatus"
                :disabled="isLoading"
                @click="redirectToCheckout"
                class="btn btn-form"
                :class="{ 'mt-2': isCallCenterDisabled }"
              >Ver planos disponíveis</button>

              <button
                v-if="!isCallCenterDisabled && callCenterPhoneStatus"
                :disabled="isLoading"
                @click="callToCustomerModal('now')"
                class="btn btn-form bg-white"
              >
                <span >Falar com um consultor</span>
              </button>

              <a
                @click="acionaConversao"
                :href="`tel:${callCenterPhone}`"
                v-if="!isCallCenterDisabled && callCenterPhoneStatus"
                class="modal-subtitle"
              >
              Ou ligue grátis <strong>{{ callCenterPhone }}</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- overlay -->
    <div class="modal-overlay" @click="onClose()"/>
  </div>
</template>
<script>
import clickSiteMixins from '@/mixins/clickSite'
import searchFbc from '@/mixins/searchFbc'

export default {
  mixins: [clickSiteMixins, searchFbc],
  watch: {
    selectedProduct(value) {
      if (value) {
        this.textoReal = this.texto
      } else {
        this.textoReal = this.texto2
      }
    }
  },

  computed: {
    displayModal() {
      return this.$store.state.modals.displaySuccessCoverageModal
    },
    selectedProduct() {
      return this.$store.state.cards.idToCheckCoverage
    },

    isCallCenterDisabled() {
      return this.$store.state.callcenter.isCallCenterDisabled
    },

    callCenterPhone() {
      return this.$store.state.callcenter.phone_number
    },

    callCenterPhoneStatus() {
      return this.$store.state.callcenter.status
    },

    coverageInfo() {
      return this.$store.state.plans.coverage
    },

    leads() {
      return this.$store.state.leads
    },

    ecommerceStatus() {
      return this.$store.state.ecommerce.status
    },
  },

  data() {
    return {
      isLoading: false,
      texto: [
        'Parabéns, seu CEP possui cobertura!',
        'Aproveite as últimas disponibilidades no seu endereço'
      ],
      texto2: [
        'Seu CEP tem cobertura!',
        'Selecione a opção abaixo para ver os planos disponíveis no seu endereço.'
      ],
      textoReal: ''
    }
  },

  created() {
    this.textoReal = this.texto2
  },

  methods: {
    onClose() {
      this.textoReal = this.texto2
      this.$store.commit('modals/closeSuccessCoverageModal')
    },

    queryUrl() {
      let query=''
     if (this.coverageInfo.postal_code && this.coverageInfo.number) {
        query = `?postal_code=${this.coverageInfo.postal_code}&addr_number=${this.coverageInfo.number}&phone_number=${this.coverageInfo.phone_number}`

        if (Object.keys(this.$route.query).length > 0) {
          for (let property in this.$route.query) {
            query += `&${property}=${this.$route.query[property]}`
          }
        }
        
      } else if (this.$route.query.utm_source == 'SMS') {
        if (Object.keys(this.$route.query).length > 0) {
          for (let property in this.$route.query) {
            query +=
              query == ''
                ? `?${property}=${this.$route.query[property]}`
                : `&${property}=${this.$route.query[property]}`
          }
        }
      }

      if (this.leads.lead_id) {
        query += `&lead_id=${this.leads.lead_id}`
      }

      if (this.selectedProduct) {
        query += `&prod=${this.selectedProduct.id}`
      }

      if (this.isTypeNetflix) {
        query += `&netflix=${this.netflixPlanSelected}`
      }

      if(this.searchFbcInCookies.hasOwnProperty('_fbc') && this.searchFbcInCookies._fbc !== null) {
        query += `&fbc=${this.searchFbcInCookies._fbc}`
      }

      return query
    },

    redirectToCheckout() {
      this.callToCustomer()

      window.open(
        `https://checkout.planosvivointernet.com.br/${this.queryUrl()}`,
        '_self'
      )
    },
    acionaConversao() {
      if(process.browser){
        dataLayer.push({ 'event': '0800Popuprtl' })
      }
    },

    async callToCustomerModal(val) {
      this.isLoading = false

      if (!this.isCallCenterDisabled) {
        if (val == 'now') {
          await this.callToCustomer('now')
          if(process.browser){
            dataLayer.push({ 'event': 'solicitouLigacaoPopup' })
          }
        }
        if (val != 'close') {
          this.onClose()
          this.$store.commit('modals/openConfirmationModal')
        }
      }
    }
  }
}
</script>

<style lang="scss">
  .modal-box {
    position: fixed;
    left: 50%;
    top: 40%;
    width: 100%;
  	height: 100%;

    height: auto;
    max-height: none;
  	max-width: 288px;
    margin-top: 20px;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2000;
    visibility: hidden;
    transition: all 300ms;

		.modal-content {
			width: 100%;
			height: 100%;
			margin: 0 auto;
			position: relative;
			background-color: #FFFFFF;
			background-image: none;
			display: flex;
			justify-content: flex-start;
			border-radius: 5px;

			.modal-block {
				padding: 25px 20px;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
   
        .row {
          flex-wrap: wrap;
          justify-content: space-between;
        }
        .btn.btn-form {
          max-width: 251px;
          min-width: 251px;
        }
        .btn.btn-form.bg-white {
            background: #FFFFFF;
            border: 1px solid #CCCCCC;

            &:hover {
              filter: brightness(0.95);
            }
          }
				.modal-title {
					font-size: 1.25rem;
					font-weight: 400;
					line-height: 1.5rem;
					color: #000000;
				}
        .modal-subtitle {
          position: relative;
          margin-top: 0.625rem;
          font-size: 1rem;
					font-weight: 300;
          line-height: 1.25rem;
					color: #000000;
          text-decoration: none;
          transition: all .3s ease-in;
            &:hover {
              color: #660099;
            }
            strong {
              font-size: 1.188rem;
              line-height: 1.438rem;
            }
        }
				.modal-description {
          margin: 0.625rem 0;
					font-size: 0.875rem;
					font-weight: 300;
					line-height: 1.0625rem;
					color: #000000;
				}
			}

			.modal-close-button {
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;

				background: #F9F9F9;
				border-radius: 50%;
				border: 1px solid #ECECEC;

				height: 30px;
				width: 30px;
				position: absolute;
				top: 25px;
				right: 20px;
			}
		}
}
.bg-confirmation {
    background-color: #fff;
    background-image: none;
}
.bg-confirmation .modal-block {
    min-width: 100%;
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background: rgba(102,0,153,0.30196) 0% 0% no-repeat padding-box;
  transition: all 0.2s;
}

.scaleup {
  opacity: 0;
  transform: scale(0.7);
  transition: all 0.3s;
}

.modal-show .scaleup {
  opacity: 1;
  transform: scale(1);
}

.modal-show {
  visibility: visible;
}

.modal-show ~ .modal-overlay {
  visibility: visible;
  opacity: 1;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .modal-overlay {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

@media (min-width: 768px) {
	.modal-box {
		max-width: 50%;
		.modal-content {
			.modal-block {
				height: 100%;
				width: 100%;
        .row {
          justify-content: center;
        }
				.modal-title {
					font-size: 1.5rem;
          line-height: 1.875rem;
				}
        
				.modal-description {
					margin: 13px 0 0 0;
					font-size: 0.875rem;

          strong {
            font-size: 1.188rem;
            line-height: 1.438rem;
          }
				}

				.modal-call-number {
					justify-content: center;
					align-items: center;
				}


				.modal-call-number {
					img  {
						height: 30px;
						width: 30px;
					}
					span {
						font-size: 18px;
					}
					b {
						font-size: 30px;
					}
				}
			}
		}
	}
}

@media (min-width: 1280px) {
    .modal-box.modal-result {
        max-width: 639px;
    }
	.modal-box { 
        max-width: 639px;
        .modal-content .modal-block {
            padding: 30px;
            .row {
              justify-content: flex-start;
            }
            .modal-title {
              font-size: 2rem;
              line-height: 2.25rem;
            }
            .modal-description {
              margin: 13px 0 0 0;
              font-size: 1rem;
              line-height: 1.25rem;

              strong {
                font-size: 1.188rem;
                line-height: 1.438rem;
              }
            }
            .btn.btn-form {
                margin: 23px 0 11px 0;
                margin-left: 0px;
                margin-right: 0.625rem;
            }
        }
    }
}
</style>
