<template>
    <section>
        <header class="tab-group">
          <div class="tab-itens" v-for="(type, index) in listCategories" :key="index">
            <input 
              type="radio" 
              name="tab-itens" 
              :id="type" 
              :value="type" 
              v-model="selected"
            >
            <label :for="type">{{ type | filtroCategoria }}</label>
          </div>
        </header>

        <section class="tab-panels">
           <client-only>

            <swiper class="swiper" :options="swiperOption" v-show="getProduct">
              <swiper-slide v-for="(product, index) in getProduct" :key="index">
                <article 
                  class="tab-panel"
                  v-show="getProduct"
                >
                  <Product 
                    :plan="product"
                  />
                </article>
              </swiper-slide>
              <div class="swiper-button-prev" :class="hide ? 'hide' : ''" slot="button-prev"></div>
              <div class="swiper-pagination" :class="hide ? 'hide' : ''" slot="pagination"></div>
              <div class="swiper-button-next" :class="hide ? 'hide' : ''" slot="button-next"></div>
            </swiper>
          
          </client-only>
        </section>
        
    </section>
</template>

<script>
import combosMixin from '@/mixins/combos'
export default {
  mixins: [combosMixin],
  
  data() {
    return {
      hide: false,
      selected: "internet",
      page: "",
      products: [],
      swiperOption: {
        calculateHeight: true,
        slidesPerView: 4,
        spaceBetween: 20,
        breakpoints: {
            1440: {
                slidesPerView: 4,
            },
            1280: {
                spaceBetween: 20,
                slidesPerView: 3,
            },
            768: {
                slidesPerView: 2,
            },
            320: {
                slidesPerView: 1,
            },
        },

        pagination: {
            el: ".swiper-pagination",
            type: "bullets",
            clickable: true,
            dynamicBullets: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
      },
    }
  },
  created() {
    if (process.client) {
      this.fetchPlans();
      this.plans = this.combos;
      this.products = this.combos;
     
    }
  },
  methods: {
    fetchPlans() {
      const products = this.getProductsFromStorage()
      if (Object.keys(products).length === 0) {
        this.$store.dispatch('plans/getPlans')
      } else {
        this.$store.commit('plans/setProducts', products)
      }
    },
    getProductsFromStorage() {
      const products = JSON.parse(sessionStorage.getItem('products'))
      console.log("From Storage", products)
      if (products) return products
      return {}
    },
  },
  computed: {
    listCategories() {
      return Object.keys(this.products).slice().reverse();
    },
    getProduct() {
      if(this.selected != '') {
        let plan = this.selected
        return this.products[plan] 
      }
    },
  },
  mounted() {
    this.page = this.$route.name;
  },
  filters: {
    filtroCategoria(value) {
      let cap = []
      value = value.replace(/([A-Z])/g, ' $1').trim()
      value.split(' ').forEach(word => {
        cap.push(
            word.charAt(0).toUpperCase() +
            word.slice(1).toLowerCase()
          )
        })
      return cap.join(' ')
    },
  }
};
</script>

<style lang="scss">
.swiper-slide {
  align-self: stretch;
  height: auto;
}
.hide {
  display: none;
}
.tab-group {
  display: flex;
  white-space: nowrap;
  overflow-x: scroll;
}

.tab-itens > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tab-itens .tab-panel {  display: none; }

.tab-itens > input:first-child:checked ~ .tab-panels > .tab-panel:first-child, .tab-itens > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tab-itens > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3), .tab-itens > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tab-itens > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5), .tab-itens > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6){
  display: flex;
  justify-content: space-between;
}

.tab-itens > label {
  position: relative;
  display: inline-block;
  padding: 15px 25px;

  border: 1px solid transparent;
  border-bottom: 0;

  cursor: pointer;

  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.375rem;

  color: #4C4C4C;
  margin-right: 10px;
}

.tab-itens > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 100%;
  height: 2px;
  background: #4C4C4C;
  left: 0;
}

.tab-itens > label:hover, .tab-itens > input:focus + label {
  color: #660099;
}

.tab-itens > label:hover::after,
.tab-itens > input:focus + label::after,
.tab-itens > input:checked + label::after {
  background: #660099;
  color: #660099;
}
.tab-itens > input:checked + label {
  color: #660099;
}
.tab-panels {
  .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px;
  }
  .swiper-button-next {
    top: initial;
    bottom: 0;
    left: 85px;
  }
  .swiper-button-prev {
    top: initial;
    bottom: 0;
    left: 0;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 60px;
    right: auto;
  }
}
.tab-panel:not(.retiraEspacamento) .product:nth-child(2) {
  margin-left: 40px;
}
@media (min-width: 1028px) {
  .tab-group {
    white-space: initial;
    overflow-x: initial
  }
  .tab-panel {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }
    .tab-panels {
        display: flex;
        justify-content: flex-start;
        .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
          max-width: 60px;
        }
    }
    .tab-itens {
        margin-top: 20px;
        white-space: initial;
        overflow-x: initial;
    }
    .tab-itens > label {
      font-size: 1.25rem;
      line-height: 1.5rem;
    }
}
@media (min-width: 1440px) {
  .swiper-slide {
    min-width: 330px;
  }
}
</style>