<template>
  <div>
    <Header :menus="menus" />
    <Nuxt />
    <Footer />

    <FormModal
      v-if="
        ($route.name !== 'blog' && displayFormModal) ||
        ($route.name !== 'blog-slug' && displayFormModal)
      "
    />
    <ApplicationModal v-if="displayModal" />
    <SuccessCoverageModal v-if="displaySuccessCoverageModal" />
    <SearchByAddressModal v-if="displaySearchByAddressModal" />
    <InfoCardModal v-if="displayInfoCardModal" />
    <!-- <AlacarteModal v-if="displayAlacarteModal" /> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
      shouldDisplayNavMobile: true,
      coverage: {
        utm_source: '',
        utm_term: '',
        utm_medium: '',
        utm_campaign: '',
        utm_content: '',
        gclid: '',
        campaignid: '',
        adgroupid: '',
        matchtype: '',
        keywordtype: '',
        device: '',
        adposition: '',
        feeditemid: '',
      },
      menus: [
        {
          label: 'Combos',
          name: 'Combos Pai',
          url: '/vivo-combo',
        },
         {
          label: 'Internet',
          name: 'Internet Pai',
          url: '/vivo-internet',
        },
        {
          label: 'Telefonia',
          name: 'Fixo Pai',
          url: '/vivo-fixo',
        },
         {
          label: 'Blog',
          name: 'Blog Pai',
          url: '/blog',
        }
      ],
    }
  },
  
  async mounted() {
    this.getAddressFromStorage()
    this.getHasSendGeneralLead()
    this.getLeadsFromStorage()
    this.fetchEcommerceStatus()
    this.getHasCoverageFromStorage()
    this.$store.dispatch('getCallCenter')
    setTimeout(() => {
      this.getCoverageFromStorage()
    })
  },

  computed: {
    displayFormModal() {
      return this.$store.state.generalLeadForm.displayFormModal
    },

    displayModal() {
      return this.$store.state.modals.displayApplicationModal
    },

    displaySuccessCoverageModal() {
      return this.$store.state.modals.displaySuccessCoverageModal
    },

    displaySearchByAddressModal() {
      return this.$store.state.modals.displaySearchByAddressModal
    },
    displayInfoCardModal() {
      return this.$store.state.modals.displayInfoCardModal
    }
  },

  methods: {
    async getCoverageFromStorage() {
      const coverage = sessionStorage.getItem('coverage')

      if (coverage) {
        let response = await JSON.parse(coverage)

        if (response) {
          this.coverage.utm_source = this.$route.query.utm_source
            ? this.$route.query.utm_source
            : response.utm_source
            ? response.utm_source
            : ''
          this.coverage.utm_term = this.$route.query.utm_term
            ? this.$route.query.utm_term
            : response.utm_term
            ? response.utm_term
            : ''
          this.coverage.utm_medium = this.$route.query.utm_medium
            ? this.$route.query.utm_medium
            : response.utm_medium
            ? response.utm_medium
            : ''
          this.coverage.utm_campaign = this.$route.query.utm_campaign
            ? this.$route.query.utm_campaign
            : response.utm_campaign
            ? response.utm_campaign
            : ''
          this.coverage.utm_content = this.$route.query.utm_content
            ? this.$route.query.utm_content
            : response.utm_content
            ? response.utm_content
            : ''
          this.coverage.gclid = this.$route.query.gclid
            ? this.$route.query.gclid
            : response.gclid
            ? response.gclid
            : ''
          this.coverage.campaignid = this.$route.query.campaignid
            ? this.$route.query.campaignid
            : response.campaignid
            ? response.campaignid
            : ''
          this.coverage.adgroupid = this.$route.query.adgroupid
            ? this.$route.query.adgroupid
            : response.adgroupid
            ? response.adgroupid
            : ''
          this.coverage.matchtype = this.$route.query.matchtype
            ? this.$route.query.matchtype
            : response.matchtype
            ? response.matchtype
            : ''
          this.coverage.keywordtype = this.$route.query.keywordtype
            ? this.$route.query.keywordtype
            : response.keywordtype
            ? response.keywordtype
            : ''
          this.coverage.device = this.$route.query.device
            ? this.$route.query.device
            : response.device
            ? response.device
            : ''
          this.coverage.adposition = this.$route.query.adposition
            ? this.$route.query.adposition
            : response.adposition
            ? response.adposition
            : ''
          this.coverage.feeditemid = this.$route.query.feeditemid
            ? this.$route.query.feeditemid
            : response.feeditemid
            ? response.feeditemid
            : ''

          if (response.number && response.postal_code) {
            this.coverage.number = response.number
            this.coverage.postal_code = response.postal_code
            this.coverage.phone_number = response.phone_number
          }

          if (response.uf) {
            this.coverage.uf = response.uf
          }
        } else {
          this.coverage.utm_source = this.$route.query.utm_source
            ? this.$route.query.utm_source
            : ''
          this.coverage.utm_medium = this.$route.query.utm_medium
            ? this.$route.query.utm_medium
            : ''
          this.coverage.utm_campaign = this.$route.query.utm_campaign
            ? this.$route.query.utm_campaign
            : ''
          this.coverage.utm_content = this.$route.query.utm_content
            ? this.$route.query.utm_content
            : ''
          this.coverage.gclid = this.$route.query.gclid
            ? this.$route.query.gclid
            : ''
          this.coverage.campaignid = this.$route.query.campaignid
            ? this.$route.query.campaignid
            : ''
          this.coverage.adgroupid = this.$route.query.adgroupid
            ? this.$route.query.adgroupid
            : ''
          this.coverage.matchtype = this.$route.query.matchtype
            ? this.$route.query.matchtype
            : ''
          this.coverage.keywordtype = this.$route.query.keywordtype
            ? this.$route.query.keywordtype
            : ''
          this.coverage.device = this.$route.query.device
            ? this.$route.query.device
            : ''
          this.coverage.adposition = this.$route.query.adposition
            ? this.$route.query.adposition
            : ''
          this.coverage.feeditemid = this.$route.query.feeditemid
            ? this.$route.query.feeditemid
            : ''
        }

          this.$store.commit('plans/setCoverage', this.coverage)
        }
    },

    getAddressFromStorage() {
      let address = sessionStorage.getItem('address')

      if (address) {
        this.$store.commit('forms/setAddress', JSON.parse(address))
      }
    },

    getHasSendGeneralLead() {
      let hasSendGeneralLead = sessionStorage.getItem('hasSendGeneralLead')

      if (
        typeof hasSendGeneralLead !== 'undefined' &&
        hasSendGeneralLead !== null
      ) {
        this.$store.commit(
          'generalLeadForm/setHasSendGeneralLead',
          hasSendGeneralLead
        )
      }
    },

    getLeadsFromStorage() {
      let leads = JSON.parse(sessionStorage.getItem('leads'))

      if (leads) {
        this.$store.commit('leads/setLead', leads)
      }
    },

    async fetchEcommerceStatus() {
      const { data } = await this.$axios('ecommerce/org')
      this.$store.commit(
        'ecommerce/setStatus',
        data['25239f5d-9d48-41ce-8a6d-fad2c07cb0e3'].active
      )
    },

    getHasCoverageFromStorage() {
      const hasCoverage = JSON.parse(sessionStorage.getItem('hasCoverage'))

      if (hasCoverage) {
        this.$store.commit('plans/setHasCoverage', hasCoverage)
      }
    },
  },
  
}
</script>

<style>
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.row {
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
</style>
