<template>
  <div>
    <div class="error__block" id="error-page">
      <div class="container">
        <div class="error__content">
          <img
            src="/erro-icon.svg"
            alt="Icone de erro da página de erro"
            class="mt-4"
          />
          <h1 class="open">Alguma coisa deu errado :(</h1>
          <h2 class="open">(Error {{error.statusCode}})</h2>
          <p class="open" >Desculpe, a página que você está procurando não foi encontrada por aqui.</p>
        </div>
      </div>
    </div>
    <div class="error__return">
      <div class="container">
        <p class="open">
          O conteúdo que você procurava pode ter sido removido ou estar temporariamente indisponível. Verifique se você digitou corretamente o endereço desejado ou, se preferir, acesse a
          <a href="/" class="home-link">home</a> para encontrar o que você precisa
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: `Erro ${this.error.statusCode} | Portal Vivo Empresas`,
    }
  },
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  created() {
    this.$store.commit('setError', this.error);
  },
}
</script>

<style lang="scss" scoped>
  .error__block {
    padding: 64px 0;
    text-align: center;
    background-color: #000;
    min-height: 30vh;
    color: #fff;
    h1 {
      font-size: 4rem;
      font-weight: 900;
      margin: 18px 0;
    }
    h2 {
      font-size: 2.25rem;
      font-weight: 100;
    }
    p {
      font-size:1.125rem;
      font-weight: 400;
      margin: 32px 0;
    }
   
  }
  .error__return {
    margin: 40px auto;
    text-align: center;
    width: 50%;

    a {
      color: #184A98;
      font-weight: 700;
      text-decoration: none;
    }
  }
  .open { font-family: 'Open', sans-serif; }
@media (min-width: 1600px) {
 .error__block {
    padding: 100px 0;
    min-height: 63.9vh;
  }
  .error__return {
    margin: 56px auto;
    text-align: center;
    width: 40%;
  }
}
@media (max-width: 480px) {
  .error__block {
    h1 {
      font-size: 2.55rem;
      font-weight: 900;
      margin: 15px 0;
    }
    h2 {
      font-size: 1.85rem;
      font-weight: 100;
    }
    p {
      font-size:1rem;
      font-weight: 400;
      margin: 25px 0;
    }
    p + p {
      font-size:.875rem;
      width: 100%;
      margin: 0 auto;
    }
    a {
      color: #ffd41c;
      text-decoration: none;
    }
  }
  .error__return {
    width: initial;
    p {
      font-size:.875rem;
      width: 100%;
      margin: 0 auto;
    }
  }
}
</style>
