<template>
  <section class="container">
    <BreadCrumb style="margin-top: 10px" /> 
    <div v-if="postArray[0]" class="featured-card">
      <div
        class="featured-thumb"
        v-bind:style="
          postArray[0].featured.banner_url
            ? `background:url(${postArray[0].featured.banner_url}) center no-repeat`
            : ''
        "
      >
      </div>

      <div class="featured-content">
        <h3 class="title-featured">
          {{ postArray[0].featured.title }}
        </h3>
        <p
          v-html="postArray[0].featured.meta_description"
          class="description-featured"
        ></p>

        <a class="link-featured" :href="`/blog/${postArray[0].featured.slug}`"
          >Leia mais
          <div class="arrow-right"></div>
        </a>
      </div>
    </div>


    <div v-if="postArray.length > 0">
      <BlogPosts
        v-for="(postList, index) in postArray"
        :key="index"
        :postList="postList.list"
      />
    </div>

    <div
      class="see-more"
    >
      <button @click="seeMore(paginationTotal)">Ver mais notícias</button>
    </div>

     <Modal v-if="displayConfirmationModal" />
    <Modal v-if="displayCoverageModal" :isCoverage="true" />
  </section>
</template>
<script>
export default {
  layout: "blog",
  data() {
    return {
        postArray: [],
        paginationTotal: null,
        paginationCurrent: null,
    };
  },
  async asyncData({ $axios, store, error }) {
    try {
      const { data } = await $axios('pages/blog');
      if(!data.page) return error(store.state.messageError)
      
      let faq = data.page.site_page_faqs
      let seo = data.page

      return { faq, seo }

    } catch(e) {
      error(e)
    }
  },

  head() {
    return {
      title: this.seo.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.seo.meta_description,
        },
      ]
    }
  },

  created() {
    this.fetchBlogPosts();
  },

  methods: {
    async fetchBlogPosts() {
      const data = await this.$axios.$get("/blog/posts");
      this.paginationTotal = data.pagination;
      this.paginationCurrent = data.pagination.current_page;

      this.postArray.push(data);
    },

    async seeMore(total) {
      let nextPage = this.paginationCurrent + 1;

      if (nextPage <= this.paginationTotal.last_page) {
        let query = `/blog/posts?page=${nextPage}`;
        const data = await this.$axios.$get(query);
        this.postArray.push(data);
      }

      this.paginationCurrent = nextPage;
    },
  },

  computed: {
    getForms() {
      return this.$store.getters['forms/getForms']
    },
    displayConfirmationModal() {
      return this.$store.state.modals.displayConfirmationModal
    },
    displayCoverageModal() {
      return this.$store.state.modals.displayCoverageModal
    },
  },
};
</script>


<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.arrow-right {
  width: 10px;
  height: 10px;
  border-bottom: solid 2px #660099;
  border-right: solid 2px #660099;
  transform: rotate(-45deg);
  margin-left: 5px;
}

.featured-card {
  display: none;
}
 
.see-more {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    button {
        font-size: 1.125rem;
        border: none;
        text-align: center;
        border-radius: 5px;
        color: #fff;
        background-color: #660099;
        padding: 1rem 2rem;
        cursor: pointer;
        min-height: 61px;
    }
}

@media (min-width: 1024px) {
  .featured-card {
    display: flex;
    margin-top: 39px;
    border-radius: 10px;
    overflow: hidden;

    .featured-thumb {
      display: flex;

      width: 100%;

      img {
        max-width: 625px;
        min-height: 363px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }

    .featured-content {
      background-color: #F7F7F7;
      max-height: 363px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      min-width: 50%;
      padding: 30px 0;

      .title-featured {
        color: #000000;
        font-size: 2rem;
        font-weight: 400;
        line-height: 40px;

        padding-left: 30px;
        max-width: 550px;

      }

      .description-featured {
        color: #000000;
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
        margin-bottom: 30px;
        max-width: 500px;
        padding-left: 30px;
      }

      .link-featured {
        display: flex;
        color: #660099;
        font-size: 18px;
        padding-left: 30px;
        text-decoration: none;
        align-items: center;
        font-weight: bold;

        &:focus {
          outline: none;
        }
      }
    }
  }
}
</style>
