<template>
  <div>
    <MainBanner />
    <FormCobertura />

    <div class="container">
      <header>
        <h1 class="main-title">Conheça os planos da Vivo</h1>
      </header>
      <TabProducts 
        :product="products"
      />
    </div>

    <div class="container block">
      <header>
        <h2 class="main-title">Confira as vantagens dos pacotes da Vivo</h2>
      </header>
      <BenefitsVivo />
    </div>

    <div class="container block">
      <header>
        <h2 class="main-title">Conheça os planos para sua empresa</h2>
      </header>
      <KnowPlans />
    </div>

    <div class="container block">
      <header>
        <h2 class="main-title">Conheça nosso Blog</h2>
      </header>
      <MeetBlog />
    </div>

    <SpeakNowBanner />

    <div class="container block" v-if="faq.length > 0">
      <header>
        <h2 class="main-title align-title">Veja as principais perguntas e tire suas dúvidas</h2>
      </header>
      <Questions  :infos="faq" /> 
    </div>

    <Modal v-if="displayConfirmationModal" />
    <Modal v-if="displayCoverageModal" :isCoverage="true" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      products:[],
    }
  },

  async asyncData({ $axios, error }) {
    try {
      const { data } = await $axios('pages/vivo-combo');
      if(!data.page) return error(store.state.messageError)
      
      let faq = data.page.site_page_faqs
      let seo = data.page

      return { faq, seo }

    } catch(e) {
      error(e)
    }
  },

  head() {
    return {
      title: this.seo.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.seo.meta_description,
        },
      ]
    }
  },

  methods: {
    async fetchPlans() {
      const { data } = await this.$axios('/plans?uf=SP&person_type=1')
      this.products = data.plans

      return data
    },
  },
  created() {
    this.fetchPlans();
  },
  computed: {
    getForms() {
      return this.$store.getters['forms/getForms']
    },
    displayConfirmationModal() {
      return this.$store.state.modals.displayConfirmationModal
    },
    displayCoverageModal() {
      return this.$store.state.modals.displayCoverageModal
    },
  }
}
</script>

<style>
  .block {
    margin: 2rem auto;
  }
  .main-title {      
    margin-bottom: 2rem;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #000000;
  }
  @media (min-width: 768px) {
    .main-title {
      margin-bottom: 1.25rem;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    .align-title { text-align: center; }
  }  
  @media (min-width: 1028px) {
    .main-title {
      margin-bottom: 2rem;
      font-size: 2rem;
      line-height: 2.25rem;
    }
    .align-title { text-align: left; }
  }
</style>
