<template>
  <div>
    <MainBanner />
    <FormCobertura />

    <div class="container">
      <header>
        <h1 class="main-title">Conheça os planos da Vivo</h1>
      </header>
      <TabProducts 
        :product="products"
      />
    </div>

    <SpeakNowBanner />

    <div class="container block">
      <header>
        <h2 class="main-title align-title">Veja nossas categorias</h2>
      </header>
      <AccordionProducts  
        v-if="categories && categories.length > 0"
        :categories="categories"
      />
    </div>

    <Modal v-if="displayConfirmationModal" />
    <Modal v-if="displayCoverageModal" :isCoverage="true" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      products:[],
    }
  },
  async asyncData({ $axios, store, error }) {
    try {
      const { data } = await $axios('pages/produto');
      if(!data.page) return error(store.state.messageError)
      
      let content = data.page.sections
      let seo = data.page

      let categories = content.map(category => {
        return {
          ...category,
          active: false
        }
      })

      return { categories, seo }

    } catch(e) {
      error(e)
    }
  },
  head() {
    return {
      title: this.seo.meta_title,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: this.seo.meta_description,
        },
      ]
    }
  },
  methods: {
    async fetchPlans() {
      const { data } = await this.$axios('/plans?uf=SP&person_type=1')
      this.products = data.plans

      return data
    },
  },
  computed: {
    displayConfirmationModal() {
      return this.$store.state.modals.displayConfirmationModal
    },
    displayCoverageModal() {
      return this.$store.state.modals.displayCoverageModal
    },
  }
}
</script>

<style>
  .block {
    margin: 2rem auto;
  }
  .main-title {      
    margin-bottom: 2rem;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.375rem;
    color: #000000;
  }
  @media (min-width: 768px) {
    .main-title {
      font-size: 2rem;
      line-height: 2.25rem;
    }
    .align-title { text-align: center; }
  }  
  @media (min-width: 1028px) {
    .align-title { text-align: left; }
  }
</style>
